<div class="header pb-3 pt-1 pt-lg-1 d-flex align-items-center" style="min-height: 240px; background-image: url(assets/img/theme/background.jpeg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-8"></span>
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Configurações da Página de Contato</h3>
            </div>
            <div class="col-4 text-right">
              <a href="{{apiUrl + '/redirecionar/' + global.empresa().id}}" target="_blank" class="btn btn-sm btn-success">Visualizar Página</a>
              <button (click)="save()" [disabled]="!form.valid" class="btn btn-sm btn-primary">Salvar</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #form="ngForm">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink> <i class="fa fa-home"></i> Início</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col">

                      <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-12">
                            <h6 class="heading-small text-muted mb-4 mt-4">Informações Básicas</h6>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label class="form-control-label" for="formulario_id">Formulário para a página</label>
                              <select [(ngModel)]="entity.formulario_id" name="formulario_id" class="form-control" required>
                                <option value="" disabled>Selecione</option>
                                <option [value]="item.id" *ngFor="let item of formularios">{{ item.nome }}</option>

                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label class="form-control-label">Texto de aviso legal</label>
                              <textarea class="form-control" [(ngModel)]="entity.aviso_legal" name="aviso_legal" rows="3"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink> <i class="fa fa-cog"></i> Configurações</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-12">
                      <h6 class="heading-small text-muted mb-4 mt-4">Configurações de exibição</h6>
                    </div>
                    <div class="col-2">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" [(ngModel)]="entity.layout.show_legal_text" id="show_legal_text" type="checkbox" [checked]="true" checked="">
                        <label class="custom-control-label" for="show_legal_text">Exibir texto Legal</label>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" [(ngModel)]="entity.layout.show_cnpj" id="show_cnpj" type="checkbox" [checked]="true" checked="">
                        <label class="custom-control-label" for="show_cnpj">Exibir CPNJ</label>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" [(ngModel)]="entity.layout.show_address" id="show_address" type="checkbox" [checked]="true" checked="">
                        <label class="custom-control-label" for="show_address">Exibir endreço</label>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" [(ngModel)]="entity.layout.show_image_products" id="show_image_products" type="checkbox">
                        <label class="custom-control-label" for="show_image_products">Exibir imagem dos produtos / serviços</label>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink><i class="fa fa-pencil-alt"></i> Aparência</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-12">
                      <h6 class="heading-small text-muted mb-4 mt-4">Estilização da sua página de contato</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label">Cor Padrão</label>
                        <input [(colorPicker)]="entity.layout.main_color" style="color:white" class="form-control" [(ngModel)]="entity.layout.main_color" name="main_color" cpPosition="bottom" [style.background]="entity.layout?.main_color" />
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label">Cor Secundária</label>
                        <input [(colorPicker)]="entity.layout.secondary_color" style="color:white" class="form-control" [(ngModel)]="entity.layout.secondary_color" cpPosition="bottom" name="secondary_color" [style.background]="entity.layout?.secondary_color" />
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label">Cor de Texto</label>
                        <input [(colorPicker)]="entity.layout.text_color" style="color:white" class="form-control" [(ngModel)]="entity.layout.text_color" name="text_color" cpPosition="bottom" [style.background]="entity.layout?.text_color" />
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label">Cor dos Botões</label>
                        <input [(colorPicker)]="entity.layout.btn_color" style="color:white" class="form-control" [(ngModel)]="entity.layout.btn_color" name="btn_color" cpPosition="bottom" [style.background]="entity.layout?.btn_color" />
                      </div>
                    </div>
                    <!-- <div class="col-lg-12">
                    <div class="form-group">
                      <label for="form-control-label">Estilo Customizado (CSS Customizado)</label>
                      <ngs-code-editor [theme]="'vs-dark'" [codeModel]="codeModel" [(ngModel)]="entity.layout.custom_css" name="custom_css" (valueChanged)="onCodeChanged($event)">
                      </ngs-code-editor>
                    </div>
                  </div> -->
                  </div>
                  <div class="row">
                    <div class="col-lg-2">
                      <label class="form-control-label">Icone</label>
                      <img class="img img-thumbnail" [src]="entity.layout.icon || 'assets/img/theme/placeholder.png'" alt="">
                      <button-upload (event)="(entity.layout.icon = $event)"></button-upload>
                    </div>
                    <div class="col-lg-2">
                      <label class="form-control-label">Logo Desktop</label>
                      <img class="img img-thumbnail" [src]="entity.layout.logo_desktop || 'assets/img/theme/placeholder.png'" alt="">
                      <button-upload (event)="(entity.layout.logo_desktop = $event)"></button-upload>
                    </div>
                    <div class="col-lg-2">
                      <label class="form-control-label">Logo Mobile</label>
                      <img class="img img-thumbnail" [src]="entity.layout.logo_mobile || 'assets/img/theme/placeholder.png'" alt="">
                      <button-upload (event)="(entity.layout.logo_mobile = $event)"></button-upload>
                    </div>
                  </div>
                </ng-template>
              </li>

              <li [ngbNavItem]="4">
                <a ngbNavLink> <i class="ni ni-world-2"></i> SEO</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-12">
                      <h6 class="heading-small text-muted mt-4">Pré visualização da busca</h6>
                    </div>
                    <div class="col-sm-12 google-site-container">
                      <a class="google-site-url" [href]="apiUrl + '/redirecionar/' + global.empresa().id" target="_blank">{{apiUrl + '/redirecionar/' + global.empresa().id}}</a>
                      <h2 class="google-site-title">{{ entity.seo.title }}</h2>
                      <p class="google-site-description">{{ entity.seo.description | truncate:150 }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <h6 class="heading-small text-muted mb-4 mt-4">Configurações de SEO e Rastreamento da Página</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label">Título</label>
                        <input type="text" [(ngModel)]="entity.seo.title" name="title" required class="form-control">
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label">Meta Descrição</label>
                        <textarea [(ngModel)]="entity.seo.description" name="description" required class="form-control" rows="4"></textarea>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label">Palavras Chaves</label>
                        <input type="text" [(ngModel)]="entity.seo.keywords" name="keywords" class="form-control">
                        <small>Escreva as palavras separadas por vírgula.</small>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label">URL Canônica</label>
                        <input type="text" [(ngModel)]="entity.seo.canonical_url" name="canonical_url" class="form-control">
                        <small>Preencha apenas caso tenha a url.</small>
                      </div>
                    </div>

                  </div>
                </ng-template>
              </li>
            </ul>
          </form>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>