.google-site-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.google-site-title {
  color: #1a0dab;
}
.google-site-description {
  color: #4d5156;
  line-height: 1.58;
}
.google-site-url {
  font-size: 14px;
  padding-top: 1px;
  line-height: 1.3;
  color: #202124;
  font-style: normal;
}
