<app-page-header name="Incluir veículo ao seu estoque" description="">
</app-page-header>

<div class="container-fluid mt--5">
  <div class="row">
    <div class="col-md-8">
      <div class="card shadow p-5">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h1>Para começar, digite a placa do veículo</h1>
              <h3 class="font-weight-light">O Força de vendas + preencherá os dados principais para você</h3>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-8 d-flex flex-row">
              <input class="form-control" [(ngModel)]="entity.placa" name="placa" placeholder="Digite a placa do veículo" type="text">
              <button class="btn btn-primary btn-rounded ml-4" (click)="getInformacaoPlaca(entity.placa)"> <i class="fa fa-search"></i> pesquisar veículo</button>
            </div>
            <div class="col-12 mt-2">
              <small class="text-muted">Fique tranquilo. A placa do veículo será utilizada somente para obter seus dados, não sendo informada em nenhum canal</small>
            </div>
            <div class="col-12 mt-4">
              <div class="alert alert-secondary" role="alert">
                Incluindo estes dados, você garante que adquiriu o consentimento do terceiro para a utilização destas informações.
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12">
              <h3>Não tem a placa do veículo ou o veículo é zero quilômetro?</h3>
            </div>
            <div class="col-12">
              <button class="btn btn-outline-primary btn-rounded "> <i class="fa fa-car"></i> digite os dados  manualmente</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow h-100">
        <div class="card-body p-5 d-flex align-items-center">
          <div class="row text-center">
            <div class="col-12  mt-2">
              <h2>Novidades para você!</h2>
            </div>
            <div class="col-12 mt-2">
              <img src="assets/img/icons/plate-import.svg" alt="">
            </div>
            <div class="col-12 mt-2">
              <h2>Inclua veículos pela placa</h2>
              <p class="mt-2">
                Digite a placa do veículo e o seu Força de vendas preencherá suas principais informações por você, incluindo os opcionais de fábrica
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>