<app-page-header [showButtom]="true" buttomText="Visualizar Showroom" [buttomRouter]="global.host() | safe: 'url'" name="Banners" description=""></app-page-header>

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Banners</h3>
          <button (click)="openBannerManager()" class="btn btn-sm btn-primary float-right ml-2">Adicionar</button>
          <button [routerLink]="['/showroom']" class="btn btn-sm btn-danger float-right">Voltar</button>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Prévia</th>
                <th scope="col">Título</th>
                <th scope="col text-center">Data Inicio</th>
                <th scope="col text-center">Data Fim</th>
                <th scope="col text-center">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of banners">
                <tr>
                  <td width="20%">
                    <img [src]="item.imagem_mobile" alt="" width="150px" class="image-responsive img-thumbnail" (click)="openBannerManager(item)">
                  </td>
                  <td><a class="clickable" (click)="openBannerManager(item)">{{ item.titulo }}</a></td>
                  <td><span class="badge badge-primary">{{ item.data_inicio | date }}</span></td>
                  <td>
                    <span class="badge" [ngClass]="{'badge-primary': (!item.vencido), 'badge-danger': (item.vencido)}">
                      {{ item.data_fim | date }}
                    </span>
                  </td>
                  <td>
                    <label class="custom-toggle" ngbTooltip="O seu banner está vencido, para que você o ative, altere a data de vencimento." [disableTooltip]="!item.vencido">
                      <input type="checkbox" (change)="updateBannerStatus(item)" [checked]="item.status" [disabled]="item.vencido">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-icon btn-sm btn-2 btn-primary" (click)="openBannerManager(item)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                    </button>
                    <button class="btn btn-icon btn-sm btn-2 btn-danger" (click)="deleteBanner(item.id)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                    </button>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>

        <app-empty-data *ngIf="banners && banners.length == 0" text="Nenhum banner encontrado"></app-empty-data>


        <div class="row mt-4 mx-2" *ngIf="!banners">
          <div class="col">
            <ngx-skeleton-loader [theme]="{width:'100%', height:'80px'}" animation="progress" count="5"></ngx-skeleton-loader>
          </div>
        </div>

        <div class="card-footer py-4">

        </div>
      </div>
    </div>
  </div>
</div>