<app-page-header name="Personalizar Showroom" [showButtom]="true" buttomText="Visualizar Showroom" [buttomRouter]="global.host() | safe: 'url'"></app-page-header>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-8" [ngClass]="{'col-12': (activeTab != 4), 'col-8': (activeTab == 4)}">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Personalizar sua Página</h3>
            </div>
            <div class="col-4 text-right">
              <!-- <a [href]="showroomUrl | safe:'url'" target="_blank" class="btn btn-sm btn-success">Visualizar Showroom</a> -->
              <button [routerLink]="['/showroom']" class="btn btn-sm btn-danger">Voltar</button>
              <button (click)="save()" [disabled]="!form.valid" class="btn btn-sm btn-primary">Salvar</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #form="ngForm">
            <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink> <i class="fa fa-home"></i> Início</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col">

                      <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-12">
                            <h6 class="heading-small text-muted mb-4 mt-4">Informações Básicas</h6>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label class="form-control-label">Texto de boas vindas</label>
                              <input type="text" class="form-control" [(ngModel)]="entity.configuracoes.texto_boas_vindas" name="texto_boas_vindas">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label class="form-control-label">Texto jurídico rodapé</label>
                              <textarea class="form-control" [(ngModel)]="entity.configuracoes.texto_juridico" name="texto_juridico" rows="3"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>

              <li [ngbNavItem]="2">
                <a ngbNavLink><i class="fa fa-pencil-alt"></i> Aparência</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-12">
                      <h6 class="heading-small text-muted mb-4 mt-4">Estilização do Showroom</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor Principal</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.global.primary_color" [(ngModel)]="entity.layout.global.primary_color" name="primary_color" [style.background]="entity.layout.global.primary_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor Secundária</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.global.secondary_color" [(ngModel)]="entity.layout.global.secondary_color" name="secondary_color" [style.background]="entity.layout.global.secondary_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor dos Títulos</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.global.title_color" [(ngModel)]="entity.layout.global.title_color" name="title_color" [style.background]="entity.layout.global.title_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor dos Textos</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.global.text_color" [(ngModel)]="entity.layout.global.text_color" name="text_color" [style.background]="entity.layout.global.text_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor de Fundo do Cabeçalho</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.global.header_background_color" [(ngModel)]="entity.layout.global.header_background_color" name="header_background_color" [style.background]="entity.layout.global.header_background_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor do de Fundo do Rodapé</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.global.footer_background_color" [(ngModel)]="entity.layout.global.footer_background_color" name="footer_background_color" [style.background]="entity.layout.global.footer_background_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <!-- <div class="col-lg-12">
                    <div class="form-group">
                      <label for="form-control-label">Estilo Customizado (CSS Customizado)</label>
                      <ngs-code-editor [theme]="'vs-dark'" [codeModel]="codeModel" [(ngModel)]="entity.layout.custom_css" name="custom_css" (valueChanged)="onCodeChanged($event)">
                      </ngs-code-editor>
                    </div>
                  </div> -->
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label class="form-control-label">Icone</label>
                      <img class="img img-thumbnail" [src]="entity.layout.global.icon || 'assets/img/theme/placeholder.png'" alt="">
                      <app-files-gallery [selectCount]="1" [maintainAspectRatio]="false" customClass="btn-block mt-2" (event)="entity.layout.global.icon = $event.url">
                      </app-files-gallery>

                    </div>
                    <div class="col-3">
                      <label class="form-control-label">Logo Concessionária</label>
                      <img class="img img-thumbnail" [src]="entity.layout.global.logo_concessionaria || 'assets/img/theme/placeholder.png'" alt="">
                      <app-files-gallery [selectCount]="1" [maintainAspectRatio]="false" customClass="btn-block mt-2" (event)="entity.layout.global.logo_concessionaria = $event.url">
                      </app-files-gallery>
                    </div>
                    <div class="col-3">
                      <label class="form-control-label">Logo Montadora</label>
                      <img class="img img-thumbnail" [src]="entity.layout.global.logo_montadora || 'assets/img/theme/placeholder.png'" alt="">
                      <app-files-gallery [selectCount]="1" [maintainAspectRatio]="false" customClass="btn-block mt-2" (event)="entity.layout.global.logo_montadora = $event.url">
                      </app-files-gallery>
                    </div>
                  </div>
                </ng-template>
              </li>

              <li [ngbNavItem]="4">
                <a ngbNavLink><i class="fa fa-car"></i> Ofertas</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-12 mt-4">
                      <h4 class="text-muted">Imagem e Tags</h4>
                      <hr class="mt-0 mb-1">
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor das Tags</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.oferta.tag_color" [(ngModel)]="entity.layout.oferta.tag_color" name="tag_color" [style.background]="entity.layout.oferta.tag_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>
                    <div class="col-4">
                      <label class="form-control-label">Imagem de Fundo</label>
                      <img class="img img-thumbnail" [src]="entity.layout.oferta.background_image || 'https://via.placeholder.com/380x245?text=380px/245px'" alt="">
                      <app-files-gallery [selectCount]="1.42" [resizeToWidth]="380" [resizeToHeight]="240" [maintainAspectRatio]="false" customClass="btn-block mt-2" (event)="entity.layout.oferta.background_image = $event.url">
                      </app-files-gallery>

                    </div>
                  </div>

                  <div class="row">

                    <div class="col-12">
                      <h4 class="text-muted">Textos</h4>
                      <hr class="mt-0 mb-1">
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor to título da oferta</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.oferta.title_color" [(ngModel)]="entity.layout.oferta.title_color" name="title_color" [style.background]="entity.layout.oferta.title_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor do Preço</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.oferta.price_color" [(ngModel)]="entity.layout.oferta.price_color" name="price_color" [style.background]="entity.layout.oferta.price_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor do Contador Regressivo</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.oferta.countdown_color" [(ngModel)]="entity.layout.oferta.countdown_color" name="countdown_color" [style.background]="entity.layout.oferta.countdown_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <h4 class="text-muted">Botão</h4>
                      <hr class="mt-0 mb-1">
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor do Botão Principal</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.oferta.btn_primary_color" [(ngModel)]="entity.layout.oferta.btn_primary_color" name="btn_primary_color" [style.background]="entity.layout.oferta.btn_primary_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor do Texto Botão Principal</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.oferta.btn_primary_text_color" [(ngModel)]="entity.layout.oferta.btn_primary_text_color" name="btn_primary_text_color" [style.background]="entity.layout.oferta.btn_primary_text_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor do Botão Secundário</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.oferta.btn_secondary_color" [(ngModel)]="entity.layout.oferta.btn_secondary_color" name="btn_secondary_color" [style.background]="entity.layout.oferta.btn_secondary_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Cor do Texto Botão Secundário</label>
                        <input autocomplete="off" [(colorPicker)]="entity.layout.oferta.btn_secondary_text_color" [(ngModel)]="entity.layout.oferta.btn_secondary_text_color" name="btn_secondary_text_color" [style.background]="entity.layout.oferta.btn_secondary_text_color" [ngStyle]="{'color': '#FFF'}" class="form-control" cpPosition="bottom" />
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>

              <li [ngbNavItem]="6">
                <a ngbNavLink> <i class="ni ni-notification-70"></i> Call to Actions</a>
                <ng-template ngbNavContent>
                  <div class="col-12 mt-3">
                    <h4 class="text-muted">Adicionar call to actions</h4>
                    <hr class="mt-0 mb-1">
                  </div>
                  
                  <div class="container">
                    <form-field-row label="Banner central" customClass="mt-4 d-flex align-items-center">
                      <img class="img-fluid" *ngIf="!entity.layout.global.cta_principal" src="https://via.placeholder.com/1200x290?text=1200x290px" alt="">
                      <img class="img-fluid" *ngIf="entity.layout.global.cta_principal" [src]="entity.layout.global.cta_principal" alt="">
                      <app-files-gallery [selectCount]="1"
                                        [maintainAspectRatio]="true" 
                                        customClass="float-right mt-2"
                                        [resizeToWidth]="1200"
                                        [resizeToHeight]="290"
                                        btnText="Adicionar Imagem"
                                      (event)="entity.layout.global.cta_principal = $event.url">
                      </app-files-gallery>
                      <small class="text-mutted">
                      O banner precisa ter as dimensões 1200x290px e ser no formato PNG, JPG ou JPEG.
                      </small>
                    </form-field-row>
                  </div>
                  <div class="row">
                    <div class="col">
                      <hr class="mt-1 mb-1">
                    </div>
                  </div>
                  <div class="container">
                    <form-field-row label="Banner lateral esquerdo" customClass="mt-4 d-flex align-items-center">
                      <img class="img-fluid" *ngIf="!entity.layout.global.cta_esquerdo" src="https://via.placeholder.com/1200x290?text=1200x290px" alt="">
                      <img class="img-fluid" *ngIf="entity.layout.global.cta_esquerdo" [src]="entity.layout.global.cta_esquerdo" alt="">
                      <app-files-gallery [selectCount]="1"
                                        [maintainAspectRatio]="true" 
                                        customClass="float-right mt-2"
                                        [resizeToWidth]="1200"
                                        [resizeToHeight]="290"
                                        [requiredSize]="true"
                                        btnText="Adicionar Imagem"
                                      (event)="entity.layout.global.cta_esquerdo = $event.url">
                      </app-files-gallery>
                      <small class="text-mutted">
                      O banner precisa ter as dimensões 1200x290px e ser no formato PNG, JPG ou JPEG.
                      </small>
                    </form-field-row>
                  </div>
                  <div class="row">
                    <div class="col">
                      <hr class="mt-1 mb-1">
                    </div>
                  </div>
                  <div class="container">
                    <form-field-row label="Banner lateral direito" customClass="mt-4 d-flex align-items-center">
                      <img class="img-fluid" *ngIf="!entity.layout.global.cta_direito" src="https://via.placeholder.com/1200x290?text=1200x290px" alt="">
                      <img class="img-fluid" *ngIf="entity.layout.global.cta_direito" [src]="entity.layout.global.cta_direito" alt="">
                      <app-files-gallery [selectCount]="1"
                                        [maintainAspectRatio]="true" 
                                        customClass="float-right mt-2"
                                        [resizeToWidth]="1200"
                                        [resizeToHeight]="290"
                                        [requiredSize]="true"
                                        btnText="Adicionar Imagem"
                                      (event)="entity.layout.global.cta_direito = $event.url">
                      </app-files-gallery>
                      <small class="text-mutted">
                      O banner precisa ter as dimensões 1200x290px e ser no formato PNG, JPG ou JPEG.
                      </small>
                    </form-field-row>
                  </div>
                </ng-template>
                
              </li>

              <li [ngbNavItem]="5">
                <a ngbNavLink> <i class="fab fa-google"></i> SEO</a>
                <ng-template ngbNavContent>
                  <div class="row" *ngIf="entity.seo.title">
                    <div class="col-12">
                      <h4>Pré visualização da busca</h4>
                    </div>
                    <div class="col-12 google-site-container">
                      <a class="google-site-url" target="_blank">{{ global.empresa().host }}</a>
                      <h2 class="google-site-title mb-0">{{ entity.seo.title | truncate:50 }}</h2>
                      <p class="google-site-description">{{ entity.seo.description | truncate:150 }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 mt-4">
                      <h4 class="text-muted">Página Inicial</h4>
                      <hr class="mt-0 mb-1">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label">Título da Página</label>
                        <input type="text" class="form-control" [(ngModel)]="entity.seo.title" name="title">
                        <ng-container *ngIf="entity.seo?.title?.length < 40">
                          <span class="badge badge-warning">{{ entity.seo?.title?.length }}</span>
                          <small class="text-warning"> O título precisa ter no mínimo 50 caracteres</small>
                        </ng-container>
                        <ng-container *ngIf="entity.seo?.title?.length >= 40 && entity.seo?.title?.length <= 50">
                          <span class="badge badge-success">{{ entity.seo?.title?.length }}</span>
                          <small class="text-success"> Excelente! O título da sua página está seguindo todos os padrões necessários</small>
                        </ng-container>
                        <ng-container *ngIf="entity.seo?.title?.length > 50">
                          <span class="badge badge-danger">{{ entity.seo?.title?.length }}</span>
                          <small class="text-danger"> A título escolhido está maior que o permitido, isso impactará diretamente nos resultados das buscas...</small>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label">Descrição</label>
                        <textarea class="form-control" [(ngModel)]="entity.seo.description" name="description" rows="3"></textarea>
                        <ng-container *ngIf="entity.seo?.description?.length < 150">
                          <span class="badge badge-warning">{{ entity.seo?.description?.length }}</span>
                          <small class="text-warning"> A descrição do seu site precisa ter pelo menos 150 caracteres</small>
                        </ng-container>
                        <ng-container *ngIf="entity.seo?.description?.length >= 150 && entity.seo?.description?.length <= 160">
                          <span class="badge badge-success">{{ entity.seo?.description?.length }}</span>
                          <small class="text-success"> Excelente! A descrição está de acordo com os tamanhos permitidos</small>
                        </ng-container>
                        <ng-container *ngIf="entity.seo?.description?.length > 160">
                          <span class="badge badge-danger">{{ entity.seo?.description?.length }}</span>
                          <small class="text-danger"> A descrição escolhida está maior que a permitida, isso impactará diretamente nos resultados das buscas...</small>
                        </ng-container>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 mt-4">
                      <h4 class="text-muted">Página da Oferta</h4>
                      <hr class="mt-0 mb-1">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label">Título da Página</label>
                        <input type="text" class="form-control" [(ngModel)]="entity.seo.offer_title" name="offer_title">
                        <ng-container *ngIf="entity.seo?.offer_title?.length < 40">
                          <span class="badge badge-warning">{{ entity.seo?.offer_title?.length }}</span>
                          <small class="text-warning"> O título precisa ter no mínimo 50 caracteres</small>
                        </ng-container>
                        <ng-container *ngIf="entity.seo?.offer_title?.length >= 40 && entity.seo?.offer_title?.length <= 50">
                          <span class="badge badge-success">{{ entity.seo?.offer_title?.length }}</span>
                          <small class="text-success"> Excelente! O título da sua página está seguindo todos os padrões necessários</small>
                        </ng-container>
                        <ng-container *ngIf="entity.seo?.offer_title?.length > 50">
                          <span class="badge badge-danger">{{ entity.seo?.offer_title?.length }}</span>
                          <small class="text-danger"> A título escolhido está maior que o permitido, isso impactará diretamente nos resultados das buscas...</small>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label">Descrição</label>
                        <textarea class="form-control" [(ngModel)]="entity.seo.offer_description" name="offer_description" rows="3"></textarea>
                        <ng-container *ngIf="entity.seo?.offer_description?.length < 150">
                          <span class="badge badge-warning">{{ entity.seo?.offer_description?.length }}</span>
                          <small class="text-warning"> A descrição do seu site precisa ter pelo menos 150 caracteres</small>
                        </ng-container>
                        <ng-container *ngIf="entity.seo?.offer_description?.length >= 150 && entity.seo?.offer_description?.length <= 160">
                          <span class="badge badge-success">{{ entity.seo?.offer_description?.length }}</span>
                          <small class="text-success"> Excelente! A descrição está de acordo com os tamanhos permitidos</small>
                        </ng-container>
                        <ng-container *ngIf="entity.seo?.offer_description?.length > 160">
                          <span class="badge badge-danger">{{ entity.seo?.offer_description?.length }}</span>
                          <small class="text-danger"> A descrição escolhida está maior que a permitida, isso impactará diretamente nos resultados das buscas...</small>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </form>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>

    <div class="col-4" *ngIf="activeTab == 4">
      <div class="card sticky-top">
        <div class="card-header border-0">
          <h3 class="mb-0 text-center">Pré visualização da Oferta</h3>
          <!-- <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button> -->
        </div>
        <div class="card-body">

          <div class="card card-model">
            <img src="assets/img/theme/car-sample.png" class="card-img-top" [style.backgroundImage]="'url('+ entity.layout.oferta.background_image +')'" alt="">
            <ng-container>
              <div class="header-badges">
                <span [ngStyle]="{'background-color': entity.layout.oferta.tag_color}" class="custom-badge badge-default text-uppercase">Selo 1</span>
                <span [ngStyle]="{'background-color': entity.layout.oferta.tag_color}" class="custom-badge badge-default text-uppercase">Selo 2</span>
                <span [ngStyle]="{'background-color': entity.layout.oferta.tag_color}" class="custom-badge badge-default text-uppercase">Selo 3</span>
              </div>
            </ng-container>

            <div class="card-body">

              <h1 class="card-title text-center m-0" [ngStyle]="{'color': entity.layout.oferta.title_color}"><b>Seu Modelo</b></h1>
              <p class="card-subtitle text-center m-0">Complemento da Oferta</p>
              <hr class="mt-1 mb-1">

              <div class="text-center">
                <p class="m-0 text-uppercase">De <b class="card-price-old-value" [ngStyle]="{'color': entity.layout.oferta.price_color}">{{ 99999 | currency:'BRL' }}</b></p>
                <p class="m-0 text-uppercase">Por apenas</p>
                <h2 class="card-price" [ngStyle]="{'color': entity.layout.oferta.price_color}">{{ 88888 | currency:'BRL' }}</h2>
                <p class="m-0 text-uppercase">Entrada de <b [ngStyle]="{'color': entity.layout.oferta.price_color}">{{ 5000  | currency:'BRL'}}</b></p>
                <p class="m-0 text-uppercase">+ <b>24</b> de <b [ngStyle]="{'color': entity.layout.oferta.price_color}">{{ 999 | currency:'BRL' }}</b></p>
              </div>

            </div>
            <div class="card-footer text-center">
              <a [ngStyle]="{'background-color': entity.layout.oferta.btn_secondary_color, 'color':entity.layout.oferta.btn_secondary_text_color}" class="btn btn-outline-primary btn-block btn-rounded text-uppercase card-button mb-0">Conheça mais</a>
              <a [ngStyle]="{'background-color': entity.layout.oferta.btn_primary_color, 'color':entity.layout.oferta.btn_primary_text_color}" class="btn btn-primary btn-block btn-rounded text-uppercase card-button mb-0">Solicite uma proposta</a>
              <a class="text text-center text-conditions">Consultar Condições</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>