<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0 float-left">Usuarios</h3>
                    <button class="btn btn-sm btn-success float-right" (click)="openModalConvite()" ngbTooltip="Envie um convite para um colaborador">Enviar Convite</button>
                    <button [routerLink]="['/gerencial/usuarios/novo']" class="btn btn-sm btn-primary float-right  mr-2">Adicionar</button>
                </div>
                <div class="table-responsive">
                    <ng-container *ngIf="!data">
                        <div class="row container-fluid">
                            <div class="col-md-12">
                                <ngx-skeleton-loader [theme]="{width:'100%', height:'80px'}" animation="progress" count="10"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </ng-container>
                    <table class="table align-items-center table-flush" *ngIf="data">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Setor</th>
                                <!-- <th scope="col">Celular</th> -->
                                <th scope="col">Fila</th>
                                <th scope="col" class="text-center">Status</th>
                                <th scope="col">Data Cadastro</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of data">
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>
                                        <a *ngIf="item.nome" [routerLink]="['/gerencial/usuarios/visualizar/', item.id]" class="text-primary">{{ item.nome }}</a>
                                        <ng-container *ngIf="!item.nome">
                                            Aguardando Confirmação
                                        </ng-container>

                                    </td>
                                    <td>{{ item.email }}</td>
                                    <td><span class="badge badge-primary">{{ item.nome_setor }}</span></td>
                                    <!-- <td>{{ item.celular }}</td> -->
                                    <td>
                                        <span (click)="updateFila(item)" ngbTooltip="Clique para retirar este usuário da fila" class="badge badge-success click" *ngIf="item.ativo_fila == 1">Sim</span>
                                        <span (click)="updateFila(item)" ngbTooltip="Clique para adicionar este usuário da fila" class="badge badge-danger click" *ngIf="item.ativo_fila == 0">Não</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-danger click" (click)="updateStatus(item)" ngbTooltip="Clique para desbloquear este usuário da fila" *ngIf="item.status == 0">bloqueado</span>
                                        <span class="badge badge-success click" (click)="updateStatus(item)" ngbTooltip="Clique para bloquear este usuário da fila" *ngIf="item.status == 1">ativo</span>
                                        <span class="badge badge-warning click" ngbTooltip="Um E-mail foi enviado a este usuário para que ele possa configurar a própria conta." *ngIf="item.status == 2">aguardando confirmação</span>
                                    </td>
                                    <td>{{ item.created_at | amTimeAgo }}</td>
                                    <td class="text-right">
                                        <button class="btn btn-icon btn-sm btn-2 btn-primary" type="button" [routerLink]="['/gerencial/usuarios/visualizar/', item.id]">
                                            <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                                        </button>
                                        <ng-container *ngIf="global.isManager()">
                                            <button class="btn btn-icon btn-sm btn-2 btn-danger" (click)="delete(item.id)" type="button">
                                                <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                                            </button>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <!-- <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2 <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav> -->
                </div>
            </div>
        </div>
    </div>
</div>