<block-ui>
  <div class="card">
    <div class="card-header">
      <h2 class="card-title float-left m-0">Galeria de arquivos</h2>
      <button type="button" class="close float-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Galeria</a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="galleryFiles && galleryFiles.length > 0" data-spy="scroll">
              <div class="container" style="height: 400px;overflow: auto;">

                <div class="gallery">
                  <div class="animation gallery-item" [ngClass]="{'selected-item': item?.selected}" *ngFor="let item of galleryFiles">
                    <img class="img-fluid" (click)="onSelectItems(item)" [src]="item.url" alt="Card image cap" ngbTooltip="{{ item.altura}}px / {{ item.largura }}px" placement="bottom">
                  </div>
                </div>
                <!-- <ng-container *ngFor="let item of galleryFiles">
                <img [src]="item.url" class="gallery-item img-thumnail" alt="">
              </ng-container> -->
              </div>
            </ng-container>

            <ng-container *ngIf="!galleryFiles">
              <div class="gallery">
                <div class="gallery-item" *ngFor="let item of global.generateArray(15)">
                  <ngx-skeleton-loader [theme]="{width:'100%', height:'150px'}" animation="progress"></ngx-skeleton-loader>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="galleryFiles && galleryFiles.length == 0">
              <app-empty-data text="Nenhum arquivo na Galeria"></app-empty-data>
            </ng-container>
            
            

          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Enviar Novo</a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="config.type == 'image'">
              <input class="d-none" (change)="fileChangeEvent($event)" name="logo" accept="image/*" type="file" #file>

              <div class="row" *ngIf="uploadStep == 1">
                <div class="col-12">
                  <div class="d-flex align-items-center justify-content-center img-product img-placeholder text-center mx-auto px-auto">
                    <div class="d-flex flex-column">
                      <img placement="bottom" width="150px" src="assets/img/icons/image-empty.png" class="img img-responsive click">
                      <button class="btn btn-primary mt-4" (click)="file.click();">Selecionar Arquivo</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <ng-container *ngIf="resizeError.result == true">
                    <div class="alert alert-danger" role="alert" [innerHTML]="resizeError.message">
                    </div>
                  </ng-container> 
                </div>
                
                <div class="col-12">
                  <image-cropper 
                    [imageChangedEvent]="imageChangedEvent" 
                    [maintainAspectRatio]="maintainAspectRatio" 
                    [aspectRatio]="aspectRatio" 
                    format="webp" 
                    (imageCropped)="imageCropped($event)" 
                    (imageLoaded)="imageLoaded()" 
                    (cropperReady)="cropperReady()"
                    [resizeToWidth]="resizeToWidth"
                    [resizeToHeight]="resizeToHeight"
                    [cropperStaticWidth]="resizeToWidth"
                    [cropperStaticHeight]="resizeToHeight"
                    (loadImageFailed)="loadImageFailed()">
                  </image-cropper>
                </div>

                <div class="col-12">
                  <button *ngIf="croppedImage" class="btn btn-sm btn-primary mt-4 mb-4 float-right" (click)="file.click();">Selecionar outro arquivo</button>
                </div>

                <!-- <div class="col-md-6">
                <img width="100%" [src]="croppedImage" />
              </div> -->
              </div>
            </ng-container>

          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="card-footer p-3">
      <div class="float-right m-0">
        <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
        <ng-container *ngIf="activeTab == 1">
          <button type="button" class="btn btn-success" [disabled]="!selectedItems || selectedItems.length == 0" (click)="onInsertMedias()">Inserir Mídia</button>
        </ng-container>
        <ng-container *ngIf="activeTab == 2">
          <button type="button" class="btn btn-success" [disabled]="(requiredSize && resizeError.result == true)" (click)="save()">Enviar Arquivo</button>
        </ng-container>
      </div>
    </div>
  </div>
</block-ui>