.img-product {
  border: dotted 2px gray;
  border-radius: 10px;
  background: whitesmoke;
  max-height: 350px;
}

.img-placeholder {
  // padding: 20px;
  height: 350px;
}

.gallery {
  display: flex;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-width: 20;
  -moz-column-width: 20;
  column-width: 20;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .selected-item {
    border: 6px solid var(--blue);
    border-radius: 10px;
  }
  .gallery-item {
    
    width: calc(20% - 10px);
    height: 150px;
    margin: 5px;
    position: relative;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    background: #eee;
    cursor: pointer;
    object-fit: cover;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
