<app-page-header name="Incluir veículo ao seu estoque" description="">
</app-page-header>


<div class="container-fluid mt--5">
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header">
          <h3 class="mb-0 float-left ml-3">Dados do Veículo</h3>
        </div>
        <div class="card-body">
          <form #form="ngForm">
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="radioButton1" name="radioButton" class="custom-control-input">
                  <label class="custom-control-label" for="radioButton1">Carro</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="radioButton2" name="radioButton" class="custom-control-input">
                  <label class="custom-control-label" for="radioButton2">Moto</label>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-3">
                <div class="form-group">
                  <label>Marca</label>
                  <ng-select [items]="marcas" bindLabel="nome" notFoundText="Nenhum item encontrado" bindValue="id" name="nome" [(ngModel)]="entity.marca">
                  </ng-select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>