<div class="card">
  <div class="card-header p-3">
    <h2 class="card-title float-left m-0">Adicionar Módulo</h2>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>TAG</label>
            <input type="text" [(ngModel)]="entity.tag" required name="tag" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>URL</label>
            <input type="text" [(ngModel)]="entity.url" required name="url" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Icone</label>
            <input type="text" [(ngModel)]="entity.icone" required name="icone" class="form-control">
            <small><i class="{{ entity.icone }}"></i></small>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Sub-módulo</label>
            <select class="form-control" [(ngModel)]="entity.id_grupo" name="id_grupo">
              <option [value]="null">Sem Sub-módulos</option>
              <ng-container *ngFor="let item of modulos">
                <option *ngIf="!item.id_grupo" [value]="item.id">{{ item.nome }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label>Descrição</label>
            <textarea class="form-control" [(ngModel)]="entity.descricao" name="descricao" rows="4"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer p-3">
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</div>