<app-page-header name="Nova Oferta" description="Adicione uma nova oferta a sua página"></app-page-header>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col-8">
      <div class="card">

        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Nova Oferta</h3>
          <!-- <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button> -->
        </div>
        <div class="card-body">
          <form #form="ngForm">

            <div class="container">
              <form-field-row label="Tipo de Produto">
                <select class="form-control" [(ngModel)]="entity.tipo" required name="tipo">
                  <option value="modelo">Modelo</option>
                </select>
              </form-field-row>

              <form-field-row label="Selecionar Modelo">
                <select class="form-control" [(ngModel)]="entity.modelo_id" (change)="getModeloById(entity.modelo_id)" required name="modelo_id" [disabled]="!entity.tipo">
                  <option [value]="item.id" *ngFor="let item of modelos">{{ item.nome }}</option>
                </select>
              </form-field-row>

              <ng-container *ngIf="entity.tipo">
                <div class="row">
                  <div class="col-12 mt-4">
                    <h4 class="text-muted">Informações da Oferta</h4>
                    <hr class="mt-0 mb-2">
                  </div>
                </div>
                <form-field-row label="Ativar Oferta">
                  <label class="custom-toggle">
                    <input type="checkbox" [(ngModel)]="entity.status" name="status">
                    <span class="custom-toggle-slider rounded-circle" ngbTooltip="Tornar está oferta disponível imediatamente"></span>
                  </label>
                </form-field-row>

                <form-field-row label="Nome">
                  <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
                </form-field-row>

                <form-field-row label="Complemento" help="A frase que vai complementar o nome da sua oferta">
                  <input type="text" [(ngModel)]="entity.complemento" required name="complemento" class="form-control">
                </form-field-row>

                <form-field-row label="Selos" help="Selos que serão exibidos nas ofertas. Adicione seus selos separados por virgula">
                  <tag-input [(ngModel)]="entity.selos" name="selos" secondaryPlaceholder="Adicione suas tags" placeholder="Informe suas tags e pressione enter" [maxItems]="3" theme="bootstrap"></tag-input>
                </form-field-row>

                <form-field-row label="Data Inicio" help="Data em que sua oferta começará a ser exibida">
                  <input type="date" placeholder="21/05/2020" [(ngModel)]="entity.data_inicio" required name="data_inicio" class="form-control">
                </form-field-row>

                <form-field-row label="Data Fim" help="Data em que sua oferta será finalizada">
                  <input type="date" placeholder="21/05/2020" [(ngModel)]="entity.data_fim" required name="data_fim" class="form-control">
                </form-field-row>

                <form-field-row label="Informações Legais">
                  <textarea [(ngModel)]="entity.condicoes" name="condicoes" rows="5" class="form-control"></textarea>
                </form-field-row>

                <form-field-row label="Exibir contagem regressiva">
                  <label class="custom-toggle">
                    <input type="checkbox" [(ngModel)]="entity.meta_dados.contagemRegressiva" name="contagemRegressiva">
                    <span class="custom-toggle-slider rounded-circle" ngbTooltip="Exibir contagem de dias na oferta."></span>
                  </label>
                </form-field-row>

                <form-field-row label="Destacar Oferta">
                  <label class="custom-toggle">
                    <input type="checkbox" [(ngModel)]="entity.meta_dados.destacar" name="destacar">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                </form-field-row>

                <div class="row">
                  <div class="col-12 mt-4">
                    <h4 class="text-muted">Configuração de Exibição dos Preços</h4>
                    <hr class="mt-0 mb-2">
                  </div>
                </div>

                <form-field-row label="Preço De/Por">
                  <label class="custom-toggle">
                    <input type="checkbox" [(ngModel)]="entity.meta_dados.configuracoes.dePor" (click)="resetTootleButtom(entity.meta_dados.configuracoes.dePor)" name="configuracesDePor">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                </form-field-row>

                <ng-container *ngIf="entity.meta_dados.configuracoes.dePor">
                  <form-field-row label="Preço de" customClass="custom-field-divider">
                    <input type="text" placeholder="R$ 0.00" currencyMask [(ngModel)]="entity.meta_dados.precos.precoDeValor" name="precoDeValor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>

                  <form-field-row label="Preço por" customClass="custom-field-divider">
                    <input type="text" placeholder="R$ 0.00" currencyMask [(ngModel)]="entity.meta_dados.precos.precoPorValor" name="precoPorValor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>
                </ng-container>

                <form-field-row label="Preço De/Por + entrada em X vezes de...">
                  <label class="custom-toggle">
                    <input type="checkbox" [(ngModel)]="entity.meta_dados.configuracoes.dePorEntrada" (click)="resetTootleButtom(entity.meta_dados.configuracoes.dePorEntrada)" ngbTooltip="Ex: Dica: De R$ 35.990,00 / Por R$ 33.990,00 + Entrada de R$ 20.000,00 em 48x de R$ 291,46." name="dePorEntrada">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                </form-field-row>

                <ng-container *ngIf="entity.meta_dados.configuracoes.dePorEntrada">
                  <form-field-row label="Preço de" customClass="custom-field-divider">
                    <input type="text" placeholder="R$ 0.00" required currencyMask [(ngModel)]="entity.meta_dados.precos.precoDeValor" name="precoDeValor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>

                  <form-field-row label="Preço Por" customClass="custom-field-divider">
                    <input type="text" placeholder="R$ 0.00" required currencyMask [(ngModel)]="entity.meta_dados.precos.precoPorValor" name="precoPorValor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>

                  <form-field-row label="Valor da entrada" customClass="custom-field-divider">
                    <input type="text" placeholder="R$ 0.00" required currencyMask [(ngModel)]="entity.meta_dados.precos.precoEntrada" name="precoEntrada" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>

                  <form-field-row label="Prazo em meses" customClass="custom-field-divider">
                    <input type="number" required [(ngModel)]="entity.meta_dados.precos.prazo" name="prazo" class="form-control">
                  </form-field-row>

                  <form-field-row label="Valor da parcela" customClass="custom-field-divider">
                    <input type="text" required placeholder="R$ 0.00" currencyMask [(ngModel)]="entity.meta_dados.precos.valorParcela" name="valorParcela" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>
                </ng-container>


                <form-field-row label="Entrada + X de ...">
                  <label class="custom-toggle">
                    <input type="checkbox" [(ngModel)]="entity.meta_dados.configuracoes.comEntrada" (click)="resetTootleButtom(entity.meta_dados.configuracoes.comEntrada)" ngbTooltip="Ex: Dica: De R$ 35.990,00 / Por R$ 33.990,00 + Entrada de R$ 20.000,00 em 48x de R$ 291,46." name="precoDeConfiguracao" checked="true">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                </form-field-row>

                <ng-container *ngIf="entity.meta_dados.configuracoes.comEntrada">
                  <form-field-row label="Preço" customClass="custom-field-divider">
                    <input type="text" placeholder="R$ 0.00" required currencyMask [(ngModel)]="entity.meta_dados.precos.precoPorValor" name="precoDeValor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>

                  <form-field-row label="Valor da entrada" customClass="custom-field-divider">
                    <input type="text" placeholder="R$ 0.00" required currencyMask [(ngModel)]="entity.meta_dados.precos.precoEntrada" name="precoEntrada" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>

                  <form-field-row label="Prazo em meses" customClass="custom-field-divider">
                    <input type="number" required [(ngModel)]="entity.meta_dados.precos.prazo" name="prazo" class="form-control">
                  </form-field-row>

                  <form-field-row label="Valor da parcela" customClass="custom-field-divider">
                    <input type="text" required placeholder="R$ 0.00" currencyMask [(ngModel)]="entity.meta_dados.precos.valorParcela" name="valorParcela" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>
                </ng-container>


                <form-field-row label="Apenas">
                  <label class="custom-toggle">
                    <input type="checkbox" [(ngModel)]="entity.meta_dados.configuracoes.apenas" (click)="resetTootleButtom(entity.meta_dados.configuracoes.apenas)" name="apenas" checked="true">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                </form-field-row>
                <ng-container *ngIf="entity.meta_dados.configuracoes.apenas">
                  <form-field-row label="Por apenas" customClass="custom-field-divider">
                    <input type="text" placeholder="R$ 0.00" required currencyMask [(ngModel)]="entity.meta_dados.precos.valorApenas" (click)="resetTootleButtom(entity.meta_dados.configuracoes.valorApenas)" name="valorApenas" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                  </form-field-row>
                </ng-container>

                <form-field-row label="Personalizado">
                  <label class="custom-toggle">
                    <input type="checkbox" [(ngModel)]="entity.meta_dados.configuracoes.personalizado" (click)="resetTootleButtom(entity.meta_dados.configuracoes.personalizado)" name="personalizado" checked="true">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                </form-field-row>

                <ng-container *ngIf="entity.meta_dados.configuracoes.personalizado">
                  <form-field-row label="Título" customClass="custom-field-divider">
                    <input type="text" required [(ngModel)]="entity.meta_dados.precos.titulo" name="titulo" class="form-control">
                  </form-field-row>

                  <form-field-row label="Subtítulo" customClass="custom-field-divider">
                    <input type="text" required [(ngModel)]="entity.meta_dados.precos.subtitulo" name="subtitulo" class="form-control">
                  </form-field-row>
                </ng-container>

              </ng-container>

            </div>
          </form>
        </div>
        <div class="card-footer py-4">
          <div class="container">
            <div class="float-right">
              <button type="button" class="btn btn-danger" [routerLink]="['/showroom/ofertas']">Voltar</button>
              <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card sticky-top" [ngClass]="{'disabled-offer': (entity.status == 0)? true:false}">
        <div class="card-header border-0">
          <h3 class="mb-0 text-center">Pré visualização da Oferta</h3>
          <!-- <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button> -->
        </div>
        <div class="card-body">

          <div class="card card-model" *ngIf="modeloSelecionado">
            <img [src]="modeloSelecionado.imagens[0].url" class="card-img-top" alt="...">
            <ng-container *ngIf="entity.selos?.length > 0">
              <div class="header-badges">
                <ng-container *ngFor="let item of entity.selos">
                  <span class="badge badge-default text-uppercase">{{ item.display }}</span>
                </ng-container>
              </div>
            </ng-container>

            <div class="card-body">

              <h1 class="card-title text-center m-0"><b>{{ entity.nome }}</b></h1>
              <p class="card-subtitle text-center m-0">{{ entity.complemento }}</p>
              <hr class="mt-1 mb-1">

              <ng-container *ngIf="entity.meta_dados?.configuracoes?.apenas">
                <div class="text-center">
                  <b class="text-uppercase">Apenas</b>
                  <h2 class="card-price text-center">{{ entity.meta_dados.precos.valorApenas | currency:'BRL' }}</h2>
                </div>
              </ng-container>

              <ng-container *ngIf="entity.meta_dados?.configuracoes?.dePor">
                <div class="text-center">
                  <p class="m-0 text-uppercase">De <b class="card-price-old-value">{{ entity.meta_dados.precos.precoDeValor | currency:'BRL' }}</b></p>
                  <p class="m-0 text-uppercase">Por apenas</p>
                  <h2 class="card-price">{{ entity.meta_dados.precos.precoPorValor | currency:'BRL' }}</h2>
                </div>
              </ng-container>

              <ng-container *ngIf="entity.meta_dados?.configuracoes?.dePorEntrada">
                <div class="text-center">
                  <p class="m-0 text-uppercase">De <b class="card-price-old-value">{{ entity.meta_dados.precos.precoDeValor | currency:'BRL' }}</b></p>
                  <p class="m-0 text-uppercase">Por apenas</p>
                  <h2 class="card-price">{{ entity.meta_dados.precos.precoPorValor | currency:'BRL' }}</h2>
                  <p class="m-0 text-uppercase">Entrada de <b>{{ entity.meta_dados.precos.precoEntrada  | currency:'BRL'}}</b></p>
                  <p class="m-0 text-uppercase">+ <b>{{ entity.meta_dados.precos.prazo }}</b> de <b>{{ entity.meta_dados.precos.valorParcela | currency:'BRL' }}</b></p>
                </div>
              </ng-container>

              <ng-container *ngIf="entity.meta_dados?.configuracoes?.comEntrada">
                <div class="text-center">
                  <h2 class="card-price">{{ entity.meta_dados.precos.precoPorValor | currency:'BRL' }}</h2>
                  <p class="m-0 text-uppercase">Entrada de <b>{{ entity.meta_dados.precos.precoDeValor | currency:'BRL' }}</b></p>
                  <p class="m-0 text-uppercase">+ <b>{{ entity.meta_dados.precos.prazo }}</b> de <b>{{ entity.meta_dados.precos.valorParcela | currency:'BRL' }}</b></p>
                </div>
              </ng-container>

              <ng-container *ngIf="entity.meta_dados?.configuracoes?.personalizado">
                <div class="text-center">
                  <h2 class="card-price text-center">{{ entity.meta_dados.precos.titulo }}</h2>
                  <p class="card-subtitle text-center m-0">{{ entity.meta_dados.precos.subtitulo }}</p>
                </div>
              </ng-container>


            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-outline-primary btn-block btn-rounded text-uppercase card-button mb-0">Conheça mais</a>
              <a href="#" class="btn btn-primary btn-block btn-rounded text-uppercase card-button mb-0">Solicite uma proposta</a>
              <a class="text text-center text-conditions">Consultar Condições</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>