.card-model {
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
  border-radius: 8px;
  border: 1px solid #c8c8c8;
  /* margin: 10px 10px 10px 10px; */
}

.btn-rounded {
  border-radius: 25px;
}

.card-img-top {
  padding: 10px;
  object-fit: cover;
  background-image: linear-gradient(180deg, #ffffff 44%, #1c1c1ca1 99%);
  border-radius: 15px 15px 0px 0px;
}

.card-title {
  color: var(--secondary-color);
}

.card-price {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 35px;
}

.card-price-old-value {
  text-decoration: line-through;
}

.card-text {
  font-size: 0.8rem;
}

.card-button {
  font-size: 0.8rem;
  font-weight: 500;
}

.sub-banner-container {
  padding: 10px;
}
.text-conditions {
  font-size: 12px;
}

.card-model b {
  font-weight: 900;
}

.header-badges {
  position: absolute;
  padding-left: 10px;
}
.card-img-top {
  position: relative;
}

.card-time-border {
  border-top: 5px solid var(--primary-color);
}
.badge {
  margin: 0px;
  margin-left: 4px;
  color: white;
  font-weight: 100;
  font-size: 13px;
  padding: 9px;
  border-radius: 24px;
  margin-top: 8px;
}

.shape-fill {
  fill: var(--primary-color);
}

svg {
  height: 150px;
  width: 100%;
}

.disabled-offer {
  filter: grayscale(0.8);
}

