<div class="container">
    <div class="row mx-auto p-5">
        <div class="col text-center">
            <img [src]="image" width="15%" alt="">
            <h1 class="mt-2" [innerHTML]="text"></h1>
            <p [innerHTML]="description"></p>
        </div>
    </div>
</div>