<div class="card">
    <div class="card-header p-3">
        <h2 class="card-title float-left m-0">Condicionar Etapa</h2>
        <button type="button" class="close float-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form #form="ngForm">
            <div class="row">
                <div class="col-12">
                    <p>Adicione condições específicas para cada opção que seu usuário selecionar</p>
                </div>
            </div>
            <div class="row" *ngIf="item.options && item.options.length > 0">

                <div class="col-12 mt-2" *ngFor="let option of item.options; let i_option = index">
                    <p>Quando a opção for: <b>{{ option }}</b></p>
                    <label class="mt-0">Ir para a etapa</label>
                    <select class="form-control" (change)="setCondition(option, i_option, $event.target.value)" name="selected_options">
                        <option [value]="false" selected>Nenhuma Opção</option>
                        <ng-container *ngFor="let etapa of etapas; let i_etapa = index">
                            <option *ngIf="i_etapa > mainEtapaIndex" [value]="i_etapa" [selected]="item.selected_options[i_option] == i_etapa" [disabled]="etapa.disabled"> {{ etapa.name }} </option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <!-- <div class="row">
                <code>{{ item.options | json }}</code>
                <div class="col-12">
                    <div class="form-group">
                        <label>Selecione a Etapa</label>
                        <select class="form-control" [(ngModel)]="entity.etapa" name="type" required>
                            <ng-container *ngFor="let item of etapas; let i = index">
                                <option *ngIf="i > mainEtapaIndex" [value]="item" [disabled]="item.disabled">{{ item.name }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" [(ngModel)]="entity.name" required name="name" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" [(ngModel)]="entity.required" name="required" id="jornadaCheck" type="checkbox" [checked]="true">
                            <label class="custom-control-label" for="jornadaCheck">Esta etapa é obrigatória?</label>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="entity.type == 'select' || entity.type == 'multiselect'">
                    <div class="col-12">
                        <div class="input-group mt-1" *ngFor="let item of options; let i = index">
                            <div class="custom-file">
                                <input type="text" [(ngModel)]="entity.options[i]" required name="option-{{i}}" class="form-control">
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-danger" type="button" (click)="removeOption(i)"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-right mt-3">
                        <button class="btn btn-sm btn-success" (click)="addOption()">Adicionar Opção</button>
                    </div>
                </ng-container>


                <div class="col-12" *ngIf="entity.type == 'text'">
                    <div class="form-group">
                        <label>Máscara do Campo</label>
                        <input type="text" [(ngModel)]="entity.mask" name="mask" class="form-control">
                    </div>
                </div>
            </div> -->
        </form>
    </div>
    <div class="card-footer p-3">
        <div class="float-right">
            <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
            <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
        </div>
    </div>
</div>