<div class="card">
    <div class="card-header p-3">
        <h2 class="card-title float-left m-0">Adicionar Produto</h2>
        <button type="button" class="close float-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form #form="ngForm">
            <div class="row">
                <div class="col-6">
                    <div class="col-12 mx-auto">
                        <input class="d-none" (change)="loadImage($event)" name="logo" accept="image/*" type="file" #file>
                        <div class="img-product img-placeholder text-center mx-auto px-auto" *ngIf="!img && !entity.imagem">
                            <img placement="bottom" width="50%" ngbTooltip="Clique aqui para selecionar uma imagem" src="assets/img/icons/image-empty.png" class="img img-responsive click" (click)="file.click();">
                        </div>

                        <img placement="bottom" ngbTooltip="Clique aqui para selecionar uma imagem" width="100%" *ngIf="img" [src]="img" class="img img-responsive img-product click" (click)="file.click();">

                        <img placement="bottom" ngbTooltip="Clique aqui para alterar a imagem" class="img img-responsive img-product click" width="100%" [src]="entity.imagem" *ngIf="entity.imagem  && !img" (click)="file.click();">
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Categoria</label>
                                <select class="form-control" [(ngModel)]="entity.categoria_id" required name="categoria_id">
                                    <option *ngFor="let item of categorias" [value]="item.id">{{ item.nome }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Preço</label>
                                <input type="text" placeholder="R$ 0.00" currencyMask [(ngModel)]="entity.preco_venda" name="preco_venda" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Tipo</label>
                                <select class="form-control" [(ngModel)]="entity.tipo" required name="tipo">
                                    <option [value]="1">Produto</option>
                                    <option [value]="2">Serviço</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer p-3">
        <div class="float-right m-0">
            <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
            <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
        </div>
    </div>
</div>