<app-page-header name="Configure seu Formulário" description=""></app-page-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Campos do Formulário</h3>
                        </div>
                        <div class="col-4 text-right">
                            <button (click)="open()" class="btn btn-sm btn-success" ngbTooltip="Adicione um novo campo ao seu Formulário">Adicionar Campo</button>
                            <button (click)="save()" class="btn btn-sm btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ng-container *ngIf="etapas && etapas.length > 0">
                        <div cdkDropList class="drop-down-list" (cdkDropListDropped)="drop($event)">
                            <div class="drop-down-box" [ngClass]="{'disabled': !item.enabled}" *ngFor="let item of etapas; let i = index" cdkDrag [cdkDragDisabled]="!item.enabled">
                                <div class="drop-down-label-placeholder" *cdkDragPlaceholder></div>
                                <div class="col-6">
                                    <input type="hidden">
                                    {{i + 1}} | {{item.name}}
                                </div>
                                <div class="col-2">
                                    <span class="badge badge-pill badge-primary m-0">
                                        <b *ngIf="item.type == 'fullname'">Nome Completo</b>
                                        <b *ngIf="item.type == 'whatsapp'">Whatsapp</b>
                                        <b *ngIf="item.type == 'cpf'">CPF</b>
                                        <b *ngIf="item.type == 'select-product'">Selecionar Produto</b>
                                        <b *ngIf="item.type == 'text'">Campo de Texto</b>
                                        <b *ngIf="item.type == 'textarea'">Campo de Texto Grande</b>
                                        <b *ngIf="item.type == 'select'">Seleção de Opções</b>
                                        <b *ngIf="item.type == 'multiselect'">Seleção de Múltiplas Opções</b>
                                        <b *ngIf="item.type == 'date'">Data</b>
                                        <b *ngIf="item.type == 'money_slide'">Valor R$</b>
                                        <b *ngIf="item.type == 'conclusion'">Finalizar Formulário <i class="fa fa-check text-green"></i></b>
                                    </span>
                                </div>
                                <div class="col-2 text-right">
                                    <span class="badge badge-pill badge-success  m-0" *ngIf="item.required" ngbTooltip="Em uma etapa obrigatória o usuário só poderá avançar ao preenche-la">etapa obrigatória</span>
                                </div>
                                <div class="col-1 text-right">
                                    <label class="custom-toggle m-0 p-0" ngbTooltip="Ativa ou Desativa sua jornada">
                                        <input type="checkbox" [checked]="item.enabled" [(ngModel)]="item.enabled">
                                        <span class="custom-toggle-slider rounded-circle"></span>
                                    </label>
                                </div>
                                <div class="col-1 text-right">
                                    <div ngbDropdown class="d-inline-block m-0 p-0">
                                        <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-cog"></i></button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button *ngIf="item.type == 'select' || item.type == 'multiselect'"  ngbDropdownItem (click)="conditions(item)" ngbTooltip="Adicione condições personalizadas a cada etapa">Condicionar Etapa</button>
                                            <button ngbDropdownItem (click)="open(item)">Editar</button>
                                            <button ngbDropdownItem (click)="delete(item)">Remover</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="item?.options">
                            <ng-container *ngFor="let subitem of item.options">
                                <div cdkDropList class="drop-down-list" (cdkDropListDropped)="drop($event)">
                                    <div class="drop-down-box subitem" [ngClass]="{'disabled': !item.enabled}" *ngFor="let item of etapas; let i = index" cdkDrag [cdkDragDisabled]="!item.enabled">
                                        <div class="drop-down-label-placeholder" *cdkDragPlaceholder></div>
                                        <div class="col-6">
                                            <input type="hidden">
                                            {{i + 1}} | {{item.name}}
                                        </div>
                                        <div class="col-2">
                                            <span class="badge badge-pill badge-primary m-0">
                                                <b *ngIf="item.type == 'fullname'">Nome Completo</b>
                                                <b *ngIf="item.type == 'whatsapp'">Whatsapp</b>
                                                <b *ngIf="item.type == 'cpf'">CPF</b>
                                                <b *ngIf="item.type == 'select-product'">Selecionar Produto</b>
                                                <b *ngIf="item.type == 'text'">Campo de Texto</b>
                                                <b *ngIf="item.type == 'textarea'">Campo de Texto Grande</b>
                                                <b *ngIf="item.type == 'select'">Seleção de Opções</b>
                                                <b *ngIf="item.type == 'multiselect'">Seleção de Múltiplas Opções</b>
                                                <b *ngIf="item.type == 'date'">Data</b>
                                                <b *ngIf="item.type == 'money_slide'">Valor R$</b>
                                                <b *ngIf="item.type == 'conclusion'">Finalizar Formulário <i class="fa fa-check text-green"></i></b>
                                            </span>
                                        </div>
                                        <div class="col-2 text-right">
                                            <span class="badge badge-pill badge-success  m-0" *ngIf="item.required" ngbTooltip="Em uma etapa obrigatória o usuário só poderá avançar ao preenche-la">etapa obrigatória</span>
                                        </div>
                                        <div class="col-1 text-right">
                                            <label class="custom-toggle m-0 p-0" ngbTooltip="Ativa ou desativa seu campo no formulário">
                                                <input type="checkbox" [checked]="item.enabled" [(ngModel)]="item.enabled">
                                                <span class="custom-toggle-slider rounded-circle"></span>
                                            </label>
                                        </div>
                                        <div class="col-1 text-right">
                                            <div ngbDropdown class="d-inline-block m-0 p-0">
                                                <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-cog"></i></button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                    <button *ngIf="item.type == 'select' || item.type == 'multiselect'"  ngbDropdownItem (click)="conditions(item)" ngbTooltip="Adicione condições personalizadas a cada etapa">Condicionar Etapa</button>
                                                    <button ngbDropdownItem (click)="open(item)">Editar</button>
                                                    <button ngbDropdownItem (click)="delete(item)">Remover</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>