<app-page-header [name]="modulo.nome" [description]="modulo.descricao"></app-page-header>

<div class="container-fluid mt--6">
  <div class="row">

    <ng-container *ngFor="let item of modulo.subs">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <app-card-module [name]="item.nome" [icon]="item.icone" [route]="[item.url]"></app-card-module>
      </div>
    </ng-container>
  </div>
</div>