<div class="card">
  <div class="card-header p-3">
    <h2 class="card-title float-left m-0">Adicionar Modelos</h2>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-6">
          <div class="col-12 mx-auto">
            <div class="img-product img-placeholder text-center mx-auto px-auto" *ngIf="!entity.imagens">
              <img placement="bottom" width="50%" src="assets/img/icons/image-empty.png" class="img img-responsive click">
            </div>
            
            <carousel *ngIf="entity.imagens && entity.imagens.length > 1" [cellsToShow]="2" [loop]="true" cellWidth="100%" [height]="300">
              <div class="carousel-cell" *ngFor="let item of entity.imagens">
                <img [src]="item.url">
              </div>
            </carousel>
            <!-- <ng-container *ngIf="entity.imagens && entity.imagens.length > 0">
              <img class="img-fluid" [src]="entity.imagens[0].url" alt="">
            </ng-container> -->

            <app-files-gallery [selectCount]="7" 
                               [aspectRatio]="1.782" 
                               customClass="btn-block mt-2" 
                               [files]="entity.imagens" 
                               (event)="entity.imagens = $event">
            </app-files-gallery>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Marca</label>
                <select class="form-control" [(ngModel)]="entity.marca_id" required name="marca_id">
                  <option *ngFor="let item of marcas" [value]="item.id">{{ item.nome }}</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Versão</label>
                <input type="text" [(ngModel)]="entity.versao" required name="versao" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <div class="form-group">
            <label>Motorização</label>
            <input type="text" [(ngModel)]="entity.motorizacao" required name="nomotorizacaome" class="form-control">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Ano</label>
            <input type="text" yn-mask="NN/NN" placeholder="19/20" [(ngModel)]="entity.ano" required name="ano" class="form-control">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Carroceria</label>
            <select class="form-control" [(ngModel)]="entity.carroceria" required name="carroceria">
              <option value="Hatch">Hatch</option>
              <option value="Sedã">Sedã</option>
              <option value="SUV ou utilitário esportivo">SUV ou utilitário esportivo</option>
              <option value="Perua ou station-wagons (SW)">Perua ou station-wagons (SW)</option>
              <option value="Coupé ou cupê">Coupé ou cupê</option>
              <option value="Conversível">Conversível</option>
              <option value="Minivan">Minivan</option>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Preço</label>
            <input type="text" placeholder="R$ 0.00" currencyMask [(ngModel)]="entity.valor" name="valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control">
          </div>
        </div>
        <!-- <div class="col-12 mx-auto">
          
        </div> -->
      </div>
    </form>
  </div>
  <div class="card-footer p-3">
    <div class="float-right m-0">
      <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</div>