<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center page-header" [style.backgroundImage]="'url('+ image +')'">
    <!-- Mask -->
    <span class="mask bg-gradient-primary opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col">
                <h1 class="display-2 text-white">{{ name }}</h1>
                <h4 class="text-white">{{ description }}</h4>

                <a *ngIf="showButtom" target="_blank" [href]="buttomRouter"  class="btn btn-success">{{ buttomText }}</a>
            </div>
        </div>
    </div>
</div>