<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 220px; background-image: url(assets/img/theme/background.jpeg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Módulos</h1>
        </div>
      </div>
  </div>
</div>
<div class="container-fluid mt--6">
  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-card-module name="Categorias" icon="fas fa-tag" [route]="['categorias']"></app-card-module>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-card-module name="Produtos/Serviços" icon="ni ni-box-2" [route]="['produtos']"></app-card-module>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-card-module name="Semi-novos" text="Em Breve" [disabled]="true" icon="fas fa-car" [route]="['']"></app-card-module>
    </div>
  </div>
</div>