<app-page-header name="Ofertas" [showButtom]="true" buttomText="Visualizar Showroom" [buttomRouter]="global.host() | safe: 'url'"></app-page-header>


<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Ofertas</h3>
          <button [routerLink]="['detalhes']" class="btn btn-sm btn-primary float-right"> <i class="fa fa-plus"></i> Adicionar</button>
          <button [routerLink]="['/showroom']" class="btn btn-sm btn-danger float-right mr-2"> <i class="fa fa-arrow-left"></i> Voltar</button>
        </div>
        <div class="d-flex p-2 flex-row align-items-end">
          <div class="flex-grow-1 m-1">
            <label class="form-control-label">Nome</label>
            <input type="text" upperCase [(ngModel)]="filter.nome" name="nome" class="form-control form-control-sm" placeholder="Nome do cliente...">
          </div>
          <div class="m-1">
            <label class="form-control-label">Status</label>
            <select class="form-control form-control-sm" name="status" [(ngModel)]="filter.status">
              <option [value]="1">Ativo</option>
              <option [value]="0">Inativo</option>
            </select>
          </div>
          <div class="m-1">
            <label class="form-control-label">Data Cadastro</label>
            <input type="date" class="form-control form-control-sm" name="created_at" [(ngModel)]="filter.created_at" >
          </div>
          <div class="m-1">
            <button class="btn btn-sm btn-primary" (click)="get()"><i class="fas fa-search"></i></button>
            <button class="btn btn-sm btn-info" (click)="clear(); get()"><i class="fas fa-sync"></i></button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Disponibilidade</th>
                <th scope="col">Imagem</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of data">
                <tr>
                  <td>
                    {{ item.id }}
                  </td>
                  <td>
                    <a class="click" [routerLink]="['detalhes', item.id]">{{ item.nome }}</a>
                  </td>
                  <td>
                    <span class="badge badge-danger text-uppercase" *ngIf="item.vencido == true">vencido</span>
                    <span class="badge badge-success text-uppercase" *ngIf="!item.vencido || item.vencido == false">disponível</span>
                  </td>
                  <td><img style="max-width: 150px; max-height: 50px;" [src]="item.modelo.imagens[0].url" alt=""></td>
                  <td>{{ item.created_at | amTimeAgo }}</td>
                  <td>
                    <label class="custom-toggle">
                      <input type="checkbox" (change)="updateStatus(item)" [checked]="item.status">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-icon btn-sm btn-2 btn-primary" [routerLink]="['detalhes', item.id]" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                    </button>
                    <button class="btn btn-icon btn-sm btn-2 btn-danger" (click)="delete(item.id)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                    </button>
                  </td>
                </tr>
              </ng-container>

              <ng-container *ngIf="data && data.length == 0">
                <tr>
                  <td colspan="5">
                    <app-empty-data text="Nenhuma oferta encontrada"></app-empty-data>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" [class.disabled]="actualPage <= 1" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <ng-container *ngFor="let item of totalPages; let i = index">
                <li class="page-item" [class.active]=" i + 1 == actualPage">
                  <a class="page-link" (click)="get(i + 1)">{{ i + 1 }}</a>
                </li>
              </ng-container>
              <li class="page-item">
                <a class="page-link" (click)="get(actualPage + 1)" [class.disabled]="actualPage >= lastPage" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>