<div class="row mt-3">
  <div class="col-md-6 mb-2">
    <div class="card shadow  h-100">
      <div class="card-header p-2">
        <h4 class="mb-0 float-left ml-3">Informações</h4>
        <label class="custom-toggle float-right mr-3 mb-0 mt-0">
          <input type="checkbox">
          <span class="custom-toggle-slider rounded-circle"></span>
        </label>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <img class="img-responsive img-card-model" width="100%" src="https://res.cloudinary.com/forca-de-vendas/image/upload/v1606744650/ogsddishcyzkia7kq8qd.webp">
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-row justify-content-between">
              <h2 class="text-success text-publication">PUBLICADO</h2>
              <small class="text-mutted"><b>000</b> dias em estoque</small>
            </div>
            <div class="d-flex flex-wrap-wrap flex-column">
              <small>#99999999</small>
              <b>Hyundai Creta - 2018/2019</b>
              <b class="text-mutted text-uppercase">1.6 smart 16v 4p Manual</b>
              <h2 class="text-price text-primary">R$ 000.000,00</h2>
              <small>FIPE: R$ 000.000,00</small>
            </div>
            <div class="d-flex flex-row align-items-center">
              <div class="mr-2 card-model-icons">
                <img src="assets/img/icons/plate.svg"> NUQ-2157
              </div>
              <div class="mr-2 card-model-icons">
                <img src="assets/img/icons/km.svg"> NUQ-2157
              </div>
              <div class="mr-2 card-model-icons">
                <img src="assets/img/icons/visitors.svg"> NUQ-2157
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3  mb-2">
    <div class="card shadow  h-100">
      <div class="card-header p-2">
        <h4 class="mb-0 float-left ml-3">Preços</h4>
      </div>
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <p>de R$ 000.000,00 por</p>
        <h2 class="text-price text-primary">R$ 000.000,00</h2>
        <p>ou entrada de R$ 000.000,00</p>
        <p>+ 00x de <b class="text-primary">R$ 000.000,00</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow  h-100">
      <div class="card-header p-2">
        <h4 class="mb-0 float-left ml-3">Integrações</h4>
      </div>
      <div class="card-body d-flex align-content-start flex-wrap">
        <div class="icon-integration">
          <img src="assets/img/icons/website.svg" alt="">
        </div>
        <div class="icon-integration">
          <img src="assets/img/icons/webmotors.svg" alt="">
        </div>
        <div class="icon-integration">
          <img src="assets/img/icons/olx.svg" alt="">
        </div>
        <div class="icon-integration">
          <img src="assets/img/icons/mercadolivre.svg" alt="">
        </div>
        <div class="icon-integration">
          <img src="assets/img/icons/icarros.svg" alt="">
        </div>
        <div class="icon-integration">
          <img src="assets/img/icons/autoline.svg" alt="">
        </div>
        <div class="icon-integration">
          <img src="assets/img/icons/facebook.svg" alt="">
        </div>
        <div class="icon-integration">
          <img src="assets/img/icons/meucarronovo.svg" alt="">
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <div ngbDropdown>
          <button class="btn btn-primary btn-rounded btn-sm text-uppercase" id="dropdownBasic2" ngbDropdownToggle>Ações</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button ngbDropdownItem><i class="fa fa-pencil-alt"></i> Editar Anúncio</button>
            <button ngbDropdownItem><i class="fa fa-trash"></i> Remover</button>
            <button ngbDropdownItem><i class="fa fa-eye"></i> Desabilitar</button>
          </div>
        </div>
          
      </div>
    </div>
  </div>
</div>

<!-- <div class="card shadow mt-3">
  <div class="card-header border-0">
    <h3 class="mb-0 float-left">Filtros</h3>
    <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button>
    <button class="btn btn-sm btn-success float-right mr-2">Buscar</button>
  </div>

  <div class="card-body">
    <div class="list-models">
      <div class="row">
        <div class="col-md-3 d-flex align-items-center">
          <img class="img-responsive" width="100%" src="https://res.cloudinary.com/forca-de-vendas/image/upload/v1606744650/ogsddishcyzkia7kq8qd.webp" alt="">
        </div>
        <div class="col-md-5">

        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">

  </div>
</div> -->