.img-card-model{
  border-radius: 8px;
}

.card-model-icons{
  font-size: 14px;
  font-weight: 600;
}

.text-price{
  font-weight: 800;
  font-size: 2rem;
}

.text-mutted {
  color: #868686;
}

.text-publication{
  font-weight: 800;
}

.icon-integration{
  /* width: 30px; */
  margin: 5px;
  img {
    width: 35px;
  }
}