<div class="card">
    <div class="card-header p-3">
        <h2 class="card-title float-left m-0">Formulários</h2>
        <button type="button" class="close float-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form #form="ngForm">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" [(ngModel)]="entity.status" name="status" id="jornadaCheck" type="checkbox" [checked]="true">
                            <label class="custom-control-label" for="jornadaCheck">Ativar Formulário</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer p-3">
        <div class="float-right">
            <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
            <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
        </div>
    </div>
</div>