<div class="header py-4 py-lg-4">
    <div class="container">
        <div class="header-body text-center mb-6">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 mb-5 mt-2">
                    <img src="assets/img/brand/white-logo.png" width="60%" alt="">
                    <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 mt-4">
            <div class="card shadow">
                <div class="card-body mt-2">
                    <form #form="ngForm">
                        <div class="row">
                            <div class="col">
                                <h3>Para que possamos iniciar seu cadastro, é necessário que você confirme algumas informações.</h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <h6 class="heading-small text-muted mb-4">Informações de Cadastro</h6>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Nome Completo</label>
                                    <input type="text" [(ngModel)]="entity.nome" name="nome" required class="form-control">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">E-mail</label>
                                    <input type="email" required [(ngModel)]="entity.email" disabled name="email" class="form-control">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">Whatsapp</label>
                                    <input type="text" required yn-mask="+55 (NN) N NNNN-NNNN" placeholder="+55 (##) # ####-####" [(ngModel)]="entity.celular" name="celular" class="form-control">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">CPF</label>
                                    <input type="text" required yn-mask="NNN.NNN.NNN-NN" placeholder="###.###.###-##" [(ngModel)]="entity.cpf" name="cpf" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Senha</label>
                                    <input type="password" required [(ngModel)]="entity.password" name="apelido" class="form-control">
                                    <small *ngIf="entity.confirmation && entity.password != entity.confirmation" class="text-danger">As senhas informadas não são iguais.</small>
                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Confirmação da Senha</label>
                                    <input type="password" [(ngModel)]="entity.confirmation" name="apelido" class="form-control">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="card-footer py-4">
                    <div class="float-right">
                        <button type="button" class="btn btn-danger" [routerLink]="['/cadastro']" [queryParams]="{key: key, ref:empresaRef}">Voltar</button>
                        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="(form.valid && entity.password != entity.confirmation) || (!form.valid) ">Continuar</button>
                        <!-- <button type="button" class="btn btn-primary" [routerLink]="['/cadastro/perfil']" [queryParams]="{key: key, ref:empresaRef}">Continuar</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>