<app-page-header name="Estoque de Seminovos" description="">
</app-page-header>


<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Filtros</h3>
          <button [routerLink]="['adicionar']" class="btn btn-sm btn-primary float-right">Adicionar</button>
          <button class="btn btn-sm btn-success float-right mr-2">Buscar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-card-seminovo-model></app-card-seminovo-model>
    </div>
    <div class="col-12">
      <app-card-seminovo-model></app-card-seminovo-model>
    </div>
    <div class="col-12">
      <app-card-seminovo-model></app-card-seminovo-model>
    </div>
  </div>
</div>