<app-page-header name="Modelos" description="Cadastro global de todos os Modelos."></app-page-header>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Modelos</h3>
          <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Imagem</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of data">
                <tr>
                  <td>
                    {{ item.id }}
                  </td>
                  <td>
                    <a class="click" (click)="open(item)">{{ item.nome }}</a>
                  </td>
                  <td><img style="max-width: 150px; max-height: 50px;" [src]="item.imagem" alt=""></td>
                  <td>{{ item.created_at | amTimeAgo }}</td>
                  <td>
                    <label class="custom-toggle">
                      <input type="checkbox" (change)="updateStatus(item)" [checked]="item.status">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-icon btn-sm btn-2 btn-primary" (click)="open(item)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                    </button>
                    <button class="btn btn-icon btn-sm btn-2 btn-danger" (click)="delete(item.id)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                    </button>
                  </td>
                </tr>
              </ng-container>

              <ng-container *ngIf="data && data.length == 0">
                <tr>
                  <td colspan="5">
                    <app-empty-data text="Nenhuma modelo cadastrada"></app-empty-data>
                  </td>
                </tr>
              </ng-container>


            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
        </div>
      </div>
    </div>
  </div>
</div>