<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0 float-left">Categorias</h3>
                    <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Data Cadastro</th>
                                <th scope="col">Data Atualização</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of data">
                                <tr>
                                    <td>
                                        {{ item.id }}
                                    </td>
                                    <td>
                                        <a (click)="open(item)">{{ item.nome }}</a>
                                    </td>
                                    <td>
                                        {{ item.created_at | amTimeAgo }}
                                    </td>
                                    <td>
                                        {{ item.updated_at | amTimeAgo }}
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-icon btn-sm btn-2 btn-primary" (click)="open(item)" type="button">
                                            <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                                        </button>
                                        <button class="btn btn-icon btn-sm btn-2 btn-danger" (click)="delete(item.id)" type="button">
                                            <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <!-- <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2 <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav> -->
                </div>
            </div>
        </div>
    </div>
</div>