<app-page-header name="Leads" description="Acesso rápido a todos os Leads recebidos através de suas mídias"></app-page-header>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <app-card-module name="Todos os Leads" text="Visualizar" icon="ni ni-notification-70" route="listar-leads"></app-card-module>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <app-card-module name="Pastas" text="Gerenciar" icon="ni ni-archive-2" route="pastas"></app-card-module>
    </div>

    <ng-container *ngIf="pastas && pastas.length > 0">
      <ng-container *ngFor="let item of pastas">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <app-card-module [name]="item.nome" class="bg-green" btnClass="btn-success" text="Visualizar Leads" icon="fas fa-folder" [route]="'listar-leads/' + item.id"></app-card-module>
        </div>
      </ng-container>
    </ng-container>


  </div>
</div>