<div class="header py-4 py-lg-4">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 mb-5 mt-2">
                    <img src="assets/img/brand/white-logo.png" width="60%" alt="">
                    <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 mt-4">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <input class="d-none" (change)="loadImage($event)" name="logo" accept="image/*" type="file" #file>
                                <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" src="assets/img/theme/default-avatar.png" *ngIf="!entity.imagem && !img" class="rounded-circle" (click)="file.click();">
                                <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" *ngIf="img" [src]="img" class="rounded-circle" (click)="file.click();">
                                <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" *ngIf="!img && entity.imagem" [src]="entity.imagem" class="rounded-circle" (click)="file.click();">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header border-0">
                    <!-- <h3 class="mb-0 float-left">Usuário</h3> -->
                    <!-- <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button> -->
                </div>
                <div class="card-body mt-5">
                    <form #form="ngForm">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="heading-small text-muted mb-4">Dados Pessoais</h6>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Apelido</label>
                                    <input type="text" [(ngModel)]="entity.apelido" name="nome" class="form-control">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">Sexo</label>
                                    <select [(ngModel)]="entity.sexo" name="setor" class="form-control" required>
                                        <option value="masculino">Masculino</option>
                                        <option value="feminino">Feminino</option>
                                        <option value="outros">Outros</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">Instagram</label>
                                    <input type="text" required [(ngModel)]="entity.instagram" name="instagram" class="form-control">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-control-label">Facebook</label>
                                    <input type="text" [(ngModel)]="entity.facebook" name="facebook" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer py-4">
                    <div class="float-right">
                        <button type="button" class="btn btn-danger" [routerLink]="['/cadastro/usuario']" [queryParams]="{key: key, ref:empresaRef}">Voltar</button>
                        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Finalizar Cadastro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>