<div class="header py-4 py-lg-4">
  <div class="container">
    <div class="header-body text-center mb-6">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 mb-5 mt-2">
          <!-- <img [routerLink]="['/gerador-instagram']" src="assets/img/brand/white-logo.png" width="60%" alt=""> -->
          <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--6 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 mt-4">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <img placement="bottom" [src]="entity.imagem" *ngIf="entity.imagem" class="img container-image">
            </div>
          </div>
        </div>
        <div class="card-body mt-5">
          <form #form="ngForm">
            <div class="row">
              <!-- <div class="col">
                <h3>Informe os seus dados para que possamos gerar o seu modelo.</h3>
              </div> -->
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <h6 class="heading-small text-muted mb-4">Informações</h6>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Nome</label>
                  <input type="text" [(ngModel)]="entity.nome" maxlength="17" [disabled]="loading" name="nome" required class="form-control">
                  <small class="text-danger" *ngIf="entity.nome && entity.nome.length >= 17">Você atingiu o limite máximo de caracteres</small>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="form-control-label">Whatsapp</label>
                  <input type="text" required mask="(00) 0 0000-0000" [disabled]="loading" placeholder="(##) # ####-####" [dropSpecialCharacters]="false" [(ngModel)]="entity.celular" name="celular" class="form-control">
                </div>
              </div>

              <div class="col-md-6 col-sm-12 mb-2">
                <!-- <button-upload (event)="(entity.imagem = $event)" customClass="btn " icon="fa fa-image" text=""> </button-upload> -->
                <button-upload (event)="entity.imagem = $event" *ngIf="!data" [disabled]="loading" [checked]="entity.imagem" icon="fa fa-image" customClass="btn btn-block btn-danger" [disabled]="loading" text="Selecionar Imagem"></button-upload>
              </div>

              <div class="col-md-6 col-sm-12  mb-2">
                <button *ngIf="!data" [disabled]="form.invalid || !entity.imagem || loading" class="btn btn-danger btn-block" (click)="generate()"> <i class="fa fa-sync"></i> Gerar Agora</button>
                <button class="btn btn-block btn-danger" *ngIf="data" (click)="reset()">Gerar Novamente</button>
              </div>

            </div>

            <div class="row" *ngIf="data">
              <div class="col-12">
                <img id="src_image" [src]="data.data" width="100%" class="img img-responsive" alt="">
                <a class="mt-2 btn btn-block btn-danger" download="modelo.png" [href]="data.data">Baixar</a>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="card-footer py-4">
          <div class="float-right">
            <button type="button" class="btn btn-danger" [routerLink]="['/cadastro']" [queryParams]="{key: key, ref:empresaRef}">Voltar</button>
            <button type="button" class="btn btn-primary" (click)="save()" [disabled]="(form.valid && entity.password != entity.confirmation) || (!form.valid) ">Continuar</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>