<div class="card">
    <div class="card-header p-3">
        <h2 class="card-title float-left m-0">Enviar Convite</h2>
        <button type="button" class="close float-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form #form="ngForm">
            <div class="row">
                <div class="col-12">
                    <p>Ao enviar o convite, o usuário receberá um E-mail com o link para ele possa fazer a conclusão do seu cadastro.</p>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" (change)="checkEmailExists(entity.email)" [(ngModel)]="entity.email" required name="Email" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Setor</label>
                        <select [(ngModel)]="entity.setor_id" name="setor" class="form-control" required>
                            <option *ngFor="let item of setores" [value]="item.id">{{item.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Nível</label>
                        <select [(ngModel)]="entity.nivel" name="setor" class="form-control" required>
                            <option value="manager">Gestor</option>
                            <option value="user">Usuário</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer p-3">
        <div class="float-right">
            <button type="button" class="btn btn-danger" (click)="modal.close()">Fechar</button>
            <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="sendInvitation()">Enviar</button>
        </div>
    </div>
</div>