.card {
    -webkit-box-shadow:1px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:1px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow:1px 1px 3px 0px rgba(0,0,0,0.75);
}

.disabled-card {
    filter: grayscale(1);
    pointer-events: none;
    cursor: not-allowed;
}