<app-page-header name="Integrações" description="Integrações disponíveis para a sua plataforma">

</app-page-header>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-card-module name="SYONET" icon="ni ni-vector" [route]="['syonet']"></app-card-module>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-card-module name="Facebook Forms" [disabled]="true" text="Em Breve" icon="ni ni-like-2" [route]="['syonet']"></app-card-module>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-card-module name="Reweb" [disabled]="true" text="Em Breve" icon="ni ni-planet" [route]="['syonet']"></app-card-module>
    </div>
  </div>
</div>