<div class="card">
  <div class="card-header p-3">
    <h2 class="card-title float-left m-0">Adicionar Marca</h2>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
          </div>
        </div>
        <div class="col-12 mx-auto">
          <div class="img-product img-placeholder text-center mx-auto px-auto" *ngIf="!entity.imagem">
            <img placement="bottom" width="50%" src="assets/img/icons/image-empty.png" class="img img-responsive click">
          </div>
          <img placement="bottom" ngbTooltip="Clique aqui para alterar a imagem" class="img img-responsive img-product click" width="100%" [src]="entity.imagem" *ngIf="entity.imagem">
          <app-files-gallery   [selectCount]="1" 
                               [maintainAspectRatio]="false"
                               customClass="btn-block mt-2" 
                               [files]="entity.imagens" 
                               (event)="entity.imagem = $event.url">
            </app-files-gallery>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer p-3">
    <div class="float-right m-0">
      <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</div>