.img-product {
  border: dotted 2px gray;
  border-radius: 10px;
  background: whitesmoke;
  max-height: 300px;

  img {
    margin-top: 70px;
  }
}

.img-placeholder {
  padding: 20px;
  height: auto;
}
