<div class="card">
  <div class="card-header p-3">
    <h2 class="card-title float-left m-0">Etiquetas</h2>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Cor</label>
            <input [(colorPicker)]="entity.cor" style="color:white" class="form-control" [(ngModel)]="entity.cor" name="cor" [style.background]="entity.cor" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer p-3">
    <div class="float-right">
      <button type="button" class="btn btn-danger" [disabled]="loading" (click)="close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid || loading" (click)="save()">
        <i *ngIf="loading" class="fa fa-spin fa-spinner"></i> Salvar
      </button>
    </div>
  </div>
</div>