<app-page-header name="Listagem de Leads" description="Acesso rápido a todos os Leads recebidos através de suas mídias"></app-page-header>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Leads</h3>
          <button  class="btn btn-sm btn-primary float-right">Adicionar</button>
          <button  class="btn btn-sm btn-success float-right mr-2">Filtrar</button>
        </div>
        <div class="table-responsive">
          <ng-container *ngIf="!data">
            <div class="row container-fluid">
              <div class="col-md-12">
                <ngx-skeleton-loader [theme]="{width:'100%', height:'80px'}" animation="progress" count="6"></ngx-skeleton-loader>
              </div>
            </div>
          </ng-container>
          <table class="table align-items-center table-flush" *ngIf="data">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Produto/Serviço</th>
                <th scope="col">Etiquetas</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of data">
                <tr>
                  <td>
                    {{ item.id }}
                  </td>
                  <td>
                    <a class="click" (click)="open(item)">{{ item.contato.nome }}</a>
                  </td>
                  <td>{{ item.contato.email }}</td>
                  <td>{{ item.contato.celular || 'Não Informado' }}</td>
                  <td>{{ item.vendedor.nome }}</td>
                  <td>{{ item.produto.nome }}</td>
                  <td width="200px">
                    <ng-container>
                      <div ngbDropdown class="d-inline-block" container="body">
                        <ng-container *ngIf="!item.etiquetas || item.etiquetas.length <= 0">
                          <button class="btn btn-sm btn-secondary" id="dropDownEtiquetas" ngbDropdownToggle>Adicionar Etiquetas</button>
                        </ng-container>
                        <ng-container *ngIf="item.etiquetas && item.etiquetas.length > 0">
                          <ng-container *ngFor="let etiqueta of item.etiquetas">
                            <button class="btn btn-sm text-white" [style.background-color]="etiqueta.cor" id="dropDownEtiquetas" ngbDropdownToggle>{{ etiqueta.nome }}</button>
                          </ng-container>
                          
                        </ng-container>
                        
                        
                        <div ngbDropdownMenu aria-labelledby="dropDownEtiquetas">

                          <div class="container container-dropdown-etiquetas">
                            <div class="row">
                              <ng-container *ngIf="etiquetas && etiquetas.length > 0">
                                <div class="col-12">
                                  <small class="text-left">Etiquetas</small>
                                  <div class="dropdown-divider"></div>
                                  <ng-container *ngFor="let subItem of etiquetas">
                                    <div class="btn-group mt-2" role="group" aria-label="Button group with nested dropdown">
                                      <ng-container *ngIf="!subItem.onEdit">
                                        <button class="btn btn-sm text-white btn-block" [style.background-color]="subItem.cor" (click)="addEtiquetaInLead(item, subItem)">{{ subItem.nome }}</button>
                                        <button type="button" class="btn btn-sm btn-icon btn-secondary" (click)="editEtiqueta(subItem)">
                                          <i class="fas fa-edit text-black"></i>
                                        </button>
                                      </ng-container>
                                      <ng-container *ngIf="subItem.onEdit">
                                          <input type="text" [(ngModel)]="subItem.nome" [disabled]="subItem.onLoading"  (keydown)="onUpdateEtiqueta($event, subItem)" class="form-control form-control-sm">
                                          <button type="button" [disabled]="subItem.onLoading" class="btn btn-sm btn-rounded btn-success btn-icon ml-1" (click)="onUpdateEtiqueta(false, subItem)">
                                            <i class="fas fa-check"></i>
                                          </button>
                                          <button type="button" [disabled]="subItem.onLoading" class="btn btn-sm btn-rounded btn-primary btn-icon ml-1" (click)="subItem.onEdit = false">
                                            <i class="fas fa-undo"></i>
                                          </button>
                                          <button type="button" [disabled]="subItem.onLoading" class="btn btn-sm btn-rounded btn-danger btn-icon ml-1" (click)="onRemoveEtiqueta(subItem.id)">
                                            <i class="fas fa-trash"></i>
                                          </button>
                                      </ng-container>
                                      
                                    </div>
                                    <!-- <div class="col-10 mt-1">
                                      <button class="btn btn-sm btn-block text-white" [style.background-color]="item.cor">{{ item.nome }}</button>
                                    </div>
                                    <div class="col-2 mt-1">
                                      <button class="btn btn-outline-secondary btn-block btn-icon">
                                        <span class="btn-inner--icon"><i class="fas fa-pencil"></i></span>
                                      </button>
                                    </div> -->
                                  </ng-container>
                                </div>
                              </ng-container>
                              <div class="col-12 text-right">
                                <div class="dropdown-divider"></div>
                                <button class="btn btn-sm btn-primary btn-block" (click)="openEtiquetasLeads()">Nova Etiqueta</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </ng-container>

                  </td>
                  <td>{{ item.created_at | amTimeAgo }}</td>
                  <td class="text-right">
                    <div ngbDropdown class="d-inline-block" container="body">
                      <button class="btn btn-primary btn-sm" id="dropdown" ngbDropdownToggle>Ações</button>
                      <div ngbDropdownMenu placement="top" aria-labelledby="dropdown">
                        <button ngbDropdownItem><i class="ni ni-settings text-blue"></i>Editar</button>
                        <button ngbDropdownItem> <i class="ni ni-chat-round text-green"></i>Interações</button>
                        <button ngbDropdownItem> <i class="ni ni-watch-time text-primary"></i>Lembretes</button>
                        <button ngbDropdownItem> <i class="fas fa-folder text-primary"></i>Mover Para</button>
                        <button ngbDropdownItem [disabled]="true"><i class="fa fa-trash text-red"></i> Remover</button>
                      </div>
                    </div>
                    <!-- <button class="btn btn-icon btn-sm btn-2 btn-primary" (click)="open(item)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                    </button>
                    <button class="btn btn-icon btn-sm btn-2 btn-danger" (click)="delete(item.id)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                    </button> -->
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">

        </div>
      </div>
    </div>
  </div>
</div>