<app-page-header name="QRCodes" description="Gerencie todos os seus QRCodes">
    
</app-page-header>

<div class="container-fluid mt--6">
    <div class="row" *ngIf="!data">
        <div class="col-md-2" *ngFor="let item of [0,1,2,3,4,5]">
            <ngx-skeleton-loader animation="progress" [theme]="{height:'300px'}"></ngx-skeleton-loader>
        </div>
    </div>
    <div class="row" *ngIf="data && data.length > 0">
        <ng-container *ngFor="let item of data">
            <div class="col-sm-6 col-md-2 mt-4">
                <div class="card click">
                    <img class="card-img-top" (click)="open(item)" *ngIf="!item.qrcode" src="assets/img/theme/placeholder.png">
                    <img class="card-img-top" (click)="open(item)" *ngIf="item.qrcode" [src]="item.qrcode">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <span *ngIf="item.status == 1" class="badge badge-pill badge-success">Habilitado</span>
                                <span *ngIf="!item.status || item.status == 0" class="badge badge-pill badge-danger">Desabilitado</span>
                            </div>
                            <div class="col-12 text-truncate">
                                <h3 [ngbTooltip]="item.nome">{{ item.nome}}</h3>
                            </div>
                            <div class="col-12">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Configurar</button>
                                    <div ngbDropdownMenu placement="top" aria-labelledby="dropdownBasic1">
                                        <a ngbDropdownItem [href]="item.qrcode" target="_blank" download>Baixar QRCode</a>  
                                        <button ngbDropdownItem (click)="open(item)">Editar</button>
                                        <button ngbDropdownItem (click)="delete(item.id)">Remover</button>  
                                        <button ngbDropdownItem [routerLink]="['dashboard', item.id]">Relatórios</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<app-empty-data text="Você ainda não criou nenhum QRCode" description="Adicione agora mesmo um novo <b>QRCode</b>" *ngIf="!data || data.length <= 0"></app-empty-data>
<app-fab-button (click)="open()"></app-fab-button>