<div class="card">
    <div class="card-header p-3">
        <h2 class="card-title float-left m-0">Campos do Formulário</h2>
        <button type="button" class="close float-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form #form="ngForm">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Tipo de Campos</label>
                        <select class="form-control" [(ngModel)]="entity.type" name="type" required>
                            <option value="fullname">Nome</option>
                            <option value="whatsapp">Whatsapp</option>
                            <option value="cpf">CPF</option>
                            <option value="select-product">Selecionar Produto</option>
                            <option value="text">Campo de Texto</option>
                            <option value="textarea">Campo de Texto Grande</option>
                            <option value="select">Seleção de Opções</option>
                            <option value="money_slide">Valor em R$</option>
                            <!-- <option value="multiselect">Seleção de Múltiplas Opções</option> -->
                            <option value="date">Data</option>
                            <option value="conclusion">Finalizar Formulário</option>
                        </select>
                    </div>
                </div>
                <ng-container *ngIf="entity.type == 'money_slide'">
                    <div class="col-6">
                        <div class="form-group">
                            <label>A partir de R$</label>
                            <input type="text" [(ngModel)]="entity.start_at" placeholder="R$ 0.00" currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" name="start_at" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Até R$</label>
                            <input type="text" [(ngModel)]="entity.end_at" placeholder="R$ 0.00" currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" name="end_at" class="form-control">
                        </div>
                    </div>
                </ng-container>
                <div class="col-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" [(ngModel)]="entity.name" (change)="generateIdentifier(entity.name)" required name="name" class="form-control">
                    </div>
                </div>
                <div class="col-12 d-none">
                    <div class="form-group">
                        <label>Identificador</label>
                        <input type="text" [(ngModel)]="entity.identifier" name="identifier" [readonly]="true" class="form-control">
                    </div>
                </div>
                <div class="col-12" *ngIf="entity.type != 'conclusion'">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" [(ngModel)]="entity.required" name="required" id="jornadaCheck" type="checkbox" [checked]="true">
                            <label class="custom-control-label" for="jornadaCheck">Este campo é obrigatório?</label>
                        </div>
                    </div>
                </div>


                <ng-container *ngIf="entity.type == 'select' || entity.type == 'multiselect'">
                    <div class="col-12">
                        <div class="input-group mt-1" *ngFor="let item of options; let i = index">
                            <div class="custom-file">
                                <input type="text" [(ngModel)]="entity.options[i]" required name="option-{{i}}" class="form-control">
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-danger" type="button" (click)="removeOption(i)"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-right mt-3">
                        <button class="btn btn-sm btn-success" (click)="addOption()">Adicionar Opção</button>
                    </div>
                </ng-container>


                <div class="col-12" *ngIf="entity.type == 'text'">
                    <div class="form-group">
                        <label>Máscara do Campo</label>
                        <input type="text" [(ngModel)]="entity.mask" name="mask" class="form-control">
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="card-footer p-3">
        <div class="float-right">
            <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
            <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
        </div>
    </div>
</div>