
::ng-deep.navbar {
  scrollbar-width: thin !important;          /* "auto" or "thin" */
  scrollbar-color: blue orange  !important;   /* scroll thumb and track */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}
.sub-menu {
  cursor: pointer;
  font-size: 0px;
  transition: width 600ms ease-out, height 600ms ease-out;
  a {
    color: inherit;
    padding-top: 0px !important;
    margin-top: 0px  !important;
    margin-bottom: 0px  !important;
  }
  a.active {
    font-weight: 600;
    color: --primary;
  }
}
