<div class="header py-4 py-lg-4">
  <div class="container">
    <div class="header-body text-center mb-6">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 mb-2 mt-2">
          <!-- <img src="assets/img/brand/white-logo.png" width="60%" alt=""> -->
          <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
        </div>
        <div class="col-12">
          <h1 class="text-white">Galeria de Modelos</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container pb-2">
  <div class="row">
    <div class="col-md-4 col-sm-12 mb-4" *ngFor="let item of data">
      <div class="card">
        <img class="card-img-top" [src]="item.background" alt="{{ item.nome }}">
        <div class="card-body">
          <h2 class="card-title">{{ item.nome }}</h2>
          <button class="btn btn-block btn-danger" [routerLink]="['gerar', item.id]">Gerar Modelo</button>
        </div>
      </div>
    </div>
  </div>
</div>