<app-page-header name="Pastas" description="Organize os seus Leads por pastas e tenha total controle de todas as suas mídias"></app-page-header>

<div class="container-fluid mt--6">
  <div class="row" *ngIf="!data">
      <div class="col-md-2" *ngFor="let item of [0,1,2,3,4,5]">
          <ngx-skeleton-loader animation="progress" [theme]="{height:'300px'}"></ngx-skeleton-loader>
      </div>
  </div>
  <div class="row" *ngIf="data && data.length > 0">
      <ng-container *ngFor="let item of data">
          <div class="col-sm-6 col-md-2 mt-4">
              <div class="card click">
                 <img class="mx-auto"  width="50%" src="./assets/img/icons/folder.svg" alt="">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-12 text-truncate" [ngbTooltip]="item.nome">
                              <h3>{{ item.nome}}</h3>
                          </div>
                          <div class="col-6 mx-auto">
                            <button class="btn btn-sm btn-danger btn-block btn-icon btn-rounded" ngbTooltip="Remover" (click)="delete(item.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                          </div>
                          <div class="col-6  mx-auto">
                              <button class="btn btn-sm btn-primary btn-block btn-icon btn-rounded" ngbTooltip="Editar" (click)="open(item)">
                                <i class="fa fa-pen"></i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-container>
  </div>
</div>

<app-empty-data text="Você ainda não criou nenhuma Pasta" description="Adicione agora mesmo uma nova Pasta" *ngIf="!data || data.length <= 0"></app-empty-data>
<app-fab-button (click)="open()"></app-fab-button>