<div class="card">
    <div class="card-header p-3">
        <h2 class="card-title float-left m-0">QRCodes</h2>
        <button type="button" class="close float-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form #form="ngForm">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Tipo</label>
                        <select [(ngModel)]="entity.tipo" name="tipo" class="form-control" required>
                            <option value="" disabled>Selecione</option>
                            <option value="interno">Interno</option>
                            <option value="externo">Externo</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="entity.tipo == 'externo'">
                        <label>Link</label>
                        <input type="url" [(ngModel)]="entity.link" (change)="checkUrl(entity.link)" required name="link" class="form-control">
                        <small *ngIf="loading && !resultUrlValidade"> <i class="fas fa-spin fa-spinner"></i> Estamos validando seu Link...</small>
                        <small *ngIf="!loading && resultUrlValidade == 200" class="text-success"> <i class="fas fa-check"></i> Link válido</small>
                        <small *ngIf="!loading && resultUrlValidade == 400" class="text-danger"> <i class="fas fa-check"></i> Link inválido, verifique e tente novamente.</small>
                    </div>

                    <div class="form-group" *ngIf="entity.tipo == 'interno'">
                        <label class="form-control-label" for="input-first-name">Link</label>
                        <select [(ngModel)]="entity.link" name="link" class="form-control" required>
                            <option value="" disabled>Selecione</option>
                            <option [value]="global.apiURL + '/redirecionar/' + global.getLoggedUser().empresa.id ">Página de Contato</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" [(ngModel)]="entity.status"  name="status" id="jornadaCheck" type="checkbox" [checked]="true">
                            <label class="custom-control-label" for="jornadaCheck">Habilitar QRCode</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer p-3">
        <div class="float-right">
            <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
            <ng-container *ngIf="entity.tipo == 'externo'">
                <button type="button" *ngIf="!entity.id" class="btn btn-success" [disabled]="form.invalid || loading || resultUrlValidade == 400 || !resultUrlValidade" (click)="save()"><i *ngIf="loading" class="fa fa-spin fa-spinner"></i> Salvar</button>
                <button type="button" *ngIf="entity.id" class="btn btn-success" [disabled]="form.invalid || loading" (click)="save()"><i *ngIf="loading" class="fa fa-spin fa-spinner"></i> Salvar</button>
            </ng-container>
            <ng-container *ngIf="entity.tipo == 'interno'">
                <button type="button" class="btn btn-success" [disabled]="form.invalid || loading" (click)="save()"><i *ngIf="loading" class="fa fa-spin fa-spinner"></i> Salvar</button>
            </ng-container>
        </div>
    </div>
</div>