<div class="card">
  <div class="card-header p-3">
    <h2 class="card-title float-left m-0">Novo Banner</h2>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Título</label>
            <input type="text" [(ngModel)]="entity.titulo" required name="titulo" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Link</label>
            <input type="url" [(ngModel)]="entity.link" name="link" class="form-control">
            <small>Link para o redirecionamento ao clicar no banner</small>
          </div>
        </div>
        <div class="col-2">
          <label>Status</label>
          <div class="form-group">
            <label class="custom-toggle mt-2 text-center">
              <input type="checkbox" [(ngModel)]="entity.status" name="status">
              <span class="custom-toggle-slider rounded-circle" ngbTooltip="Tornar está oferta disponível imediatamente"></span>
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Data início</label>
            <input type="date" [(ngModel)]="entity.data_inicio"  name="data_inicio" class="form-control">
            <small>Data do início da exibição do banner</small>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Data fim</label>
            <input type="date" [(ngModel)]="entity.data_fim"  name="data_fim" class="form-control">
            <small>Data do fim da exibição do Banner</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label>Banner Desktop</label>
          <img class="img-fluid" *ngIf="!entity.imagem_desktop" src="https://via.placeholder.com/1500x480?text=1500px/480px" alt="">
          <img class="img-fluid" *ngIf="entity.imagem_desktop" [src]="entity.imagem_desktop" alt="">
          <app-files-gallery [selectCount]="1"
                            [maintainAspectRatio]="true" 
                            customClass="btn-block mt-2"
                            [resizeToWidth]="1500"
                            [resizeToHeight]="480"
                            [requiredSize]="true"
                            btnText="Adicionar Imagem"
                          (event)="entity.imagem_desktop = $event.url">
          </app-files-gallery>
          <small class="text-mutted">
           O banner precisa ter as dimensões 1500x480px e ser no formato PNG, JPG ou JPEG.
          </small>
        </div>
        <div class="col-6">
          <label>Banner Mobile</label>
          <img class="img-fluid" *ngIf="!entity.imagem_mobile" src="https://via.placeholder.com/500x480?text=500px/480px" alt="">
          <img class="img-fluid" *ngIf="entity.imagem_mobile" [src]="entity.imagem_mobile" alt="">
          <app-files-gallery [selectCount]="1"
                            [aspectRatio]="1"
                            [maintainAspectRatio]="true" 
                            customClass="btn-block mt-2"
                            [resizeToWidth]="500"
                            [resizeToHeight]="480"
                            [requiredSize]="true"
                            btnText="Adicionar Imagem"
                            (event)="entity.imagem_mobile = $event.url">
          </app-files-gallery>
          <small class="text-mutted">
            O banner precisa ter as dimensões 500x480px e ser no formato PNG, JPG ou JPEG.
           </small>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer p-3">
    <div class="float-right m-0">
      <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</div>