// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;0,800;1,400&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", sans-serif !important; }

// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */
