//
// Forms
//

@import "../core/forms/form";
@import "../core/forms/form-validation";
@import "../core/forms/input-group";

.form-group {
  margin-bottom: 1.1rem;
}

.custom-toggle {
  margin-top: 10px;
}
.custom-field-divider {
  padding: 20px;
  border-radius: 10px;
  background-color: #dedede !important;
  margin-bottom: 10px;
}
