<app-page-header [name]="modulo.nome" [showButtom]="true" buttomText="Visualizar Showroom" [buttomRouter]="global.host() | safe: 'url'" [description]="modulo.descricao"></app-page-header>


<div class="container-fluid mt--7">
  <div class="row">

    <ng-container *ngFor="let item of modulo.subs">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <app-card-module [name]="item.nome" text="Cadastrar" [icon]="item.icone" [route]="[item.url]"></app-card-module>
      </div>
    </ng-container>

  </div>
</div>