<app-page-header name="Formulários" description="Crie novas experiências inesquecíveis para seu usuário com Formulário interativos.">
    
</app-page-header>
<div class="container-fluid mt--6" *ngIf="data && data.length > 0">
    <div class="row">
        <ng-container *ngFor="let item of data">
            <div class="col-sm-6 col-md-3 col-xl-2">
                <div class="card click">
                    <img class="card-img-top" *ngIf="!item.imagem" src="https://www.flaticon.com/svg/static/icons/svg/2343/2343563.svg">
                    <img class="card-img-top" *ngIf="item.imagem" [src]="item.imagem">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <span *ngIf="item.status == 1" class="badge badge-pill badge-success">Ativa</span>
                                <span *ngIf="!item.status || item.status == 0" class="badge badge-pill badge-danger">Desativada</span>
                            </div>
                            <div class="col-12 text-truncate">
                                <h3 [ngbTooltip]="item.nome">{{ item.nome}}</h3>
                            </div>
                            <div class="col-12">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Configurar</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem (click)="open(item)">Editar</button>
                                        <button ngbDropdownItem [routerLink]="[item.id, 'items']">Configurar</button>
                                        <button ngbDropdownItem (click)="delete(item.id)">Remover</button>  
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<app-empty-data text="Você ainda não criou nenhum Formulário" description="Adicione agora mesmo um novo <b>Formulário</b> e crie experiência totalmente interativas com seu usuário" *ngIf="!data || data.length <= 0"></app-empty-data>
<app-fab-button (click)="open()"></app-fab-button>